<div id="add_payment_card_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_payment_card_modal_label" aria-hidden="true" keyboard='false'>
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add_payment_card_modal_label">Payment Card Information</h3>
  </div>  
  
  <% payment_card_submission = Rails.env.production? ? Accounts::PaymentCardSubmission.new : Accounts::PaymentCardSubmission.new(Accounts::PaymentCardSubmission.default_values_for_testing) %>

  <%= simple_form_for payment_card_submission, :url => '', :validate => true, :html => {:id => 'payment_card_submission_form', :class => 'form-horizontal modal-form'} do |f| %>
    <div class='modal-body'>
      <div class='center_wrap mb'><%= image_tag 'credit_cards_accepted.png', :width => '300px;' %></div>
      <%= f.input :name_on_card, :label => 'Cardholder Name', :input_html => {:name => 'name_on_card'} %>
      <%= f.input :card_number, :input_html => {:name => 'card_number'} %>
      <%= f.label 'Expiration Date', :required => true %>
      <div class='control-group required'>
        <div class='controls clearfix'>
          <%= f.select :expiration_month, 1..12, {:include_blank => false}, :style => 'width:60px;', :name => 'expiration_month' %>
          <%= f.select :expiration_year, Date.today.year..(Date.today.year+10), {:include_blank => false}, :style => 'width:80px;', :name => 'expiration_year' %>
        </div>                     
      </div>                 
      <%= f.input :security_code, :input_html => {:style => 'width:70px', :name => 'security_code'} %>
      <%= f.input :postal_code, :input_html => {:style => 'width:70px;', :name => 'postal_code'} %>
      <% if user_signed_in? and (defined?(remember_card_input) ? remember_card_input != false : true) %>
        <%= f.input :remember_card, :as => :boolean, :label => false, :checked => true, :inline_label => 'Remember This Card' %>
      <% end %>
    </div>

    <div class='modal-footer'>
      <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <%= f.submit 'Validate Card', :class => 'btn btn-primary', :id => 'payment_card_submit' %>
    </div>
  <% end %>

  <%= form_for Accounts::PaymentCard.new(params[:accounts_payment_card]), :method => :post do |f| %>
    <%= f.hidden_field :balanced_uri %>
  <% end %>

</div>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">

  var marketplaceUri = '<%= ENV['BALANCED_MARKETPLACE_URI'] %>';

  var debug = function (tag, content) {
     console.log('<' + tag + '>' + content + '</' + tag + '>');
  };
 
  var tokenizeCard = function( $form ) {

    try {
      balanced.init(marketplaceUri);
    } catch (e) {
      debug('code', 'You need to set the marketplaceUri variable');
    }

    var cardData = {
      name: $form.find('[name="name_on_card"]').val(),            
      card_number: $form.find('[name="card_number"]').val(),
      expiration_month: $form.find('[name="expiration_month"]').val(),
      expiration_year: $form.find('[name="expiration_year"]').val(),
      security_code: $form.find('[name="security_code"]').val(),
      postal_code: $form.find('[name="postal_code"]').val(),
    }; 
    
    $('.modal.in').spin();
    balanced.card.create(cardData, <%= defined?(callback_function) ? callback_function : 'balancedAddCardCallback' %>);
  };

  window.ClientSideValidations.callbacks.form.pass = function(form, eventData) {
    if ( form.attr('id') == 'payment_card_submission_form' && form.data('submit_status') != true ) {
      form.data('submit_status', true);
      tokenizeCard(form);      
    }
    window.setTimeout ( function() {                  
      form.data('submit_status', false);
    }, 5000 );
    return false;
  };

  $('#payment_card_submission_form').submit(function(e){
    e.preventDefault();
    return false;
  });

</script>