<% title "New User Registration" %>

<% if resource.errors.present? %>

<% flash[:error] = "<p>There were problems with your request</p><ul>".html_safe %>
<% resource.errors.full_messages.each do |message| %>
  <% flash[:error] << "<li>#{message}</li>".html_safe %>
<% end %>
<% flash[:error] << "</ul>".html_safe %>

<% end %>

<ul data-role="listview" data-inset="true">
  <li class='center_wrap'>    

    <%= form_for(resource, :url => registration_path(resource), :html => { :honeypot => true } ) do |f| %>
        
      <%= f.text_field :email ,                 :required => true,
                                                :placeholder => "Email" %>

      <%= f.password_field :password,               :required => true, 
                                                    :placeholder => "Password"  %>

      <%= f.password_field :password_confirmation,  :placeholder => "Confirm Password", 
                                                    :required => true %>

      <%= f.submit 'Sign up', :'data-icon' => 'check' %>
      
    <% end %>

  </li>
</ul>