<div data-role="popup" id='new_payment_card_form' data-history='false' data-position-to="window" data-overlay-theme="a" data-transition='slide'>

  <div data-role="header" data-theme='a'>
      <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
      <h4 style='margin:10px 0px;'>Add Payment Card</h4>
  </div>
  
  <div class='pa'>
     
    <form id="paymentCardForm">
        <div>
          <input type="text" name="name_on_card" autocomplete="off" placeholder='Cardholder Name' data-mini='true' <%= "value=Bob" unless Rails.env.production? %>></input>
        </div>        
        <div>
          <input type="text" name="card_number" <%= "value=4111111111111111" unless Rails.env.production? %> autocomplete="off" placeholder='Card Number' data-mini='true'></input>
        </div>        
        <div class='ui-grid-b pb-s'>
          <div class='ui-block-a pt-m pl-s'>Expires</div>
          <div class='ui-block-b pl-s'>
            <select type="select" data-mini='true' name="expiration_month" value="1">
              <% 12.times do |index| %>
                <%= "<option value=\'#{index+1}\'>#{index+1}</option>".html_safe %>
              <% end %>
            </select>
          </div> 
          <div class='ui-block-c'>
            <select type="select" data-mini='true' name="expiration_year" selected="2020">
              <% 10.times do |index| %>
                <% year = index + Time.now.year %>
                <%= "<option value=\'#{year}\' #{"selected=\'selected\'" unless (Rails.env.production? or year != 2020)} >#{year}</option>".html_safe %>
              <% end %>
            </select>
          </div>
        </div>
        <div class='ui-grid-a'>
          <div class='ui-block-a pt-m pl-s main'>Security Code</div>
          <div class='ui-block-b side'>
            <input type="text" data-mini='true' name="security_code" placeholder='XXX' autocomplete="off" <%= "value=123" unless Rails.env.production? %>>
          </div>                        
        </div>
        <div class='ui-grid-a'>
          <div class='ui-block-a pt-m pl-s main'>Billing Zipcode</div>
          <div class='ui-block-b side'>
            <input type="text" data-mini='true' name="zip_code" placeholder='XXXXX' autocomplete="off" <%= "value=12345" unless Rails.env.production? %>>
          </div>                        
        </div>
        <% if user_signed_in? %>
          <div class='ui-grid-a'>
            <div class='ui-block-a pt-m pl-s main'>Remember this card</div>
            <div class='ui-block-b side' style='text-align:right;'>
              <select name='remember_card' data-role='slider' data-mini='true'>
                <option value='false'>No</option>
                <option value='true' selected='selected'>Yes</option>
              </select>
            </div>                        
          </div>
        <% end %>
        <button data-icon='check' data-theme='b'>Validate Card</button>        
    </form>

  </div>
    
  <div id="result"></div>

</div>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">

  var marketplaceUri = '<%= ENV['BALANCED_MARKETPLACE_URI'] %>';
 
  var debug = function (tag, content) {
     console.log('<' + tag + '>' + content + '</' + tag + '>');
  };
 
  var tokenizeCard = function( $form ) {
    try {
      balanced.init(marketplaceUri);
    } catch (e) {
      debug('code', 'You need to set the marketplaceUri variable');
    }
    //var $form = $('form#paymentCardForm');
    var cardData = {
      name: $form.find('[name="name_on_card"]').val(),            
      card_number: $form.find('[name="card_number"]').val(),
      expiration_month: $form.find('[name="expiration_month"]').val(),
      expiration_year: $form.find('[name="expiration_year"]').val(),
      security_code: $form.find('[name="security_code"]').val(),
      postal_code: $form.find('[name="postal_code"]').val(),
    }; 
    balanced.card.create(cardData, <%= defined?(callback_function) ? callback_function : 'balancedAddCardCallback' %>);
  };

  $('form#paymentCardForm button').click(function(e){
    e.preventDefault();
    var new_card_popup = $(this).closest("[data-role='popup']");
    var is_all_data_populated = true;
    $.each(new_card_popup.find('input'), function(){
      if (!$(this).val()) {
        is_all_data_populated = false;
      }
    });
    if (is_all_data_populated) {
      new_card_popup.popup('close');
      tokenizeCard($(this).closest('form'));
    } else {
      new_card_popup.on('popupafterclose', function() {
        window.setTimeout(function() {
          flashNow('Please completely fill out card information', 'error', new_card_popup);
        }, 500);
        new_card_popup.off('popupafterclose');
      });
      new_card_popup.popup('close');
    }    
  });

</script>