<div id='nav_menu' data-role="panel" data-position="right" data-display="reveal">
	<div class='center_wrap ui-panel-inner'>

		<% if user_signed_in? %>
			<h3><%= current_user.account.full_name %></h3>
			<%= link_to 'My Dashboard', root_path, :'data-role' => 'button', :'data-icon' => 'home', :'data-mini' => 'true' %>
			<%= link_to 'My Account', show_user_profile_path, :'data-role' => 'button', :'data-icon' => 'user', :'data-mini' => 'true' %>
			<%= link_to 'My Funds', funds_path, :'data-role' => 'button', :'data-icon' => 'shop', :'data-mini' => 'true' %>
			<br class='spacer'/>
		<% end %>		

		<% if user_signed_in? %>
			<div style="border-top:1px solid #eee"></div>
			<br class='spacer'/>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete,  :'data-role' => 'button', :'data-icon' => 'power', :'data-mini' => 'true' %>
		<% else %>
			<%= link_to "Sign in", new_user_session_path,  :'data-role' => 'button', :'data-icon' => 'user', :'data-mini' => 'true' %>
		<% end %>


		
		<br class='spacer'/>
		<div style="border-top:1px solid #eee"></div>
		<br class='spacer'/>
		
		<span class='t-s'><%= link_to "About", about_path %></span>
		<br/>
		<span class='t-s'><%= link_to "Contact", contact_path %></span>
		<br/>
		<span class='t-s'><%= link_to "Terms and Conditions", terms_path %></span>
		<br/>
		<span class='t-s'><%= link_to "Privacy Policy", privacy_path %></span>

	</div>
</div>
