<%= render :partial => 'users/accounts/edit_location', :formats => [:mobile] %>
<%= render :partial => 'users/payment_cards/new', :formats => [:mobile] %>

<ul data-role="listview" data-inset="true" data-theme"a">
  <li data-role="list-divider" data-theme='a'>My Profile</li>  
    <li>
      <div class='ui-grid-a'>
        <div class='ui-block-a side'>
          <% if current_user.image.present? %>
            <%= image_tag current_user.image, :height => '80px', :width => '80px' %>
          <% else %>
            <div style='height:80px;width:80px'>Add Image</div>
          <% end %>
        </div>
        <div class='ui-block-b ui-block-c main'>
          <h3><%= current_user.full_name %></h3>
          <p><%= current_user.email %></p>
          <% if current_user.phone_number.present? %>
            <p><%= current_user.phone_number %></p>
          <% else %>
            <p><i>no phone number</i></p>
          <% end %>
        </div>          
      </div>
    </li>

    <li data-icon='gear'>
      
        <% if current_user.city.present? and current_user.state.present? and current_user.postal_code.present? %>
          <a href="#account_edit_location" data-rel="popup" data-position-to="window">
            <div class='mt-m'>
              <p><b><%= current_user.street_address %></b></p>
              <p><%= current_user.city %>, <%= current_user.state %> <%= current_user.postal_code %></p>        
              <p><%= current_user.country %></p>
            </div>
          </a>
        <% else %>          
          <a href="#account_edit_location" data-rel="popup" data-position-to="window">Setup Location Info</a>
        <% end %>
    </li>

  </li>
  <li data-role="list-divider" data-theme='a'>Payment Cards</li>  
    <li>
      <% payment_cards = current_user.payment_cards %>
      <% if payment_cards.present? %>
        <% payment_cards.each do |payment_card| %>
          <ul>
            <li><%= payment_card.card_type %> ending in <%= payment_card.last_4_digits %> <%= link_to 'X delete', account_payment_card_path(payment_card), :method => :delete, :class => 'button2' %></li>
          </ul>
        <% end %>
      <% else %>
        <a href="#new_payment_card_form" data-rel="popup" data-position-to="window">Setup Payment Info</a>
      <% end %>
    </li>
  </li>

  <li data-role="list-divider" data-theme='a'>Social Networks Linked</li>  
    <li>
      <div class='center_wrap'>
        <% current_user.authentications.each do |authentication| %>
          <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
          <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
          <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
        <% end %>
      </div>
    </li>
  </li>
</ul>