<div class='center_wrap'>
  <p>Swiftgive &copy; 2012 - 2014</p>
  <p>Built and maintained with care by Vaczoway Solutions</p>
  <ul class="footer_links">
    <li><%= link_to "About", about_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Contact", contact_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Privacy Policy", privacy_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Terms of Use", terms_path %></li>
  </ul>
  <br/>
  <%= link_to image_tag('facebook_grey.png', :alt => 'Visit Swiftgive on Facebook', :height => '50px', :width => '50px'), 'http://www.facebook.com/swiftgive' %>
</div>
