<div id='navbar'>
  <nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class='container'>
      <%= link_to content_tag(:div, '', :id => 'logo'), root_path, :id => 'logo_wrapper', :class => 'navbar-brand' %>
      <div class="collapse navbar-collapse mr" role='navigation'>

        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to content_tag(:i, "", :class => 'fa fa-2x fa-facebook-square social_grey'), 'http://www.facebook.com/swiftgive', :target => '_blank', :class => 'pr-n pt-m mb-n' %></li>
          <li><%= link_to content_tag(:i, "", :class => 'fa fa-2x fa-envelope-square social_grey'), contact_path, :class => 'popup pr-n pt-m mb-n mr' %></li>
          <li><div class='ma'></div></li>
          <li><%= link_to "About", about_path %></li>
        	<% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Funds <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu">
              <% if current_user.funds.count > 0 %>                
                <% current_user.funds.each do |fund| %>
                 <li><%= link_to fund.name, fund_path(fund) %></li>
                <% end %>                
              <% else %>
                <li class="disabled"><%= link_to "You currently don\'t have any funds", root_path %> </li>
              <% end %>
                <li class="divider"></li>
                <li><%= link_to "<i class='fa fa-plus fa-fw'></i>Create Fund".html_safe, new_fund_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.account.full_name || current_user.email %> <i class="fa fa-caret-down"></i></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "<i class='fa fa-user fa-fw'></i>Account".html_safe, show_user_profile_path, :method => :get %></li>                               
                <li class="divider"></li>
                <li><%= link_to "<i class='fa fa-power-off fa-fw'></i>Sign out".html_safe, destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>            
    		  <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" style='width:250px;'>
                <li class='ma'>
                  <h5>Express (Recommended):</h5>
                  <div class='center_wrap'>
                    <%# links need rel external to work with jquery mobile (http://stackoverflow.com/questions/5523494/jquery-mobile-breaks-omniauth) %>
                    <%= link_to image_tag('facebook.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:facebook), :rel => 'external' %>
                    <%= link_to image_tag('google.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:google_oauth2), :rel => 'external' %>
                    <%= link_to image_tag('linkedin.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:linkedin), :rel => 'external' %>
                  </div>
                </li>
                <li class="divider"></li>                
                <li class='ma'>
                  <h5>Old Fashioned:</h5>
                  <%= simple_form_for User.new, :url => user_session_path, :html => { :honeypot => true } do |f| %>
                    <%= f.input :email , :required => 'true', :placeholder => 'Email', :label => false, :wrapper => :none, :wrapper_html => {:class => 'pl pr'} %>
                    <%= f.input :password, :required => 'true', :placeholder => 'Password', :label => false, :wrapper => :none, :wrapper_html => {:class => 'pl pr'}  %>
                    <%= f.submit "Sign In", :class => 'btn btn-primary' %>
                    <%= link_to "Sign up first", new_user_registration_path, :class => 'btn btn-sm' %>
                  <% end %>               
                </li>                
              </ul>
            </li>
    			<% end %>                    
        </ul>
      </div>
    </div>
  </nav>
</div>
