<div id='navbar' class="navbar">
  <div class="navbar-inner">
    
    <!--<form class="navbar-search pull-right">
		  <input type="text" class="search-query" placeholder="Search">
		</form> --> 
    <ul class="nav pull-right">      
    	<% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.account.full_name || current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "<i class='icon-share-alt icon-even-spaced'></i> Refer a Friend".html_safe, account_path(current_user) %></li>
            <li><%= link_to "<i class='icon-user icon-even-spaced'></i> Profile".html_safe, show_user_profile_path, :method => :get %></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#"><i class='icon-even-spaced icon-heart'></i> My Funds</a>
              <ul class="dropdown-menu">
              <% if current_user.account.funds.count > 0 %>                
                <% current_user.account.funds.each do |fund| %>
                 <li><%= link_to fund.name, fund_path(fund) %></li>    
                <% end %>                
              <% else %>
                <li class="disabled"><%= link_to "you currently don\'t have any funds", root_path %> </li>
              <% end %>
              </ul>
            </li>
            
            <li class="divider"></li>
            <li><%= link_to "<i class='icon-off icon-even-spaced'></i> Sign out".html_safe, destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
		  <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
          <ul class="dropdown-menu" style='width:250px;'>
            <li class='ma'>
              <h5>Express (Recommended):</h5>
              <div class='center_wrap'>
                <%# links need rel external to work with jquery mobile (http://stackoverflow.com/questions/5523494/jquery-mobile-breaks-omniauth) %>
                <%= link_to image_tag('facebook.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:facebook), :rel => 'external' %>
                <%= link_to image_tag('google.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:google_oauth2), :rel => 'external' %>
                <%= link_to image_tag('linkedin.png', :width => '50px', :height => '50px'), authentication_sign_in_path(:linkedin), :rel => 'external' %>
              </div>
            </li>            
            <li class="divider"></li>
            <li class='ma'>
              <h5>Old Fashioned:</h5>
              <%= simple_form_for User.new, :url => user_session_path, :html => { :honeypot => true } do |f| %>
                <%= f.input :email , :required => 'true', :placeholder => 'Email', :label => false %>
                <%= f.input :password, :required => 'true', :placeholder => 'Password', :label => false  %>
                <%= f.submit "Sign In", :class => 'btn btn-primary' %>
                <%= link_to "Sign Up", new_user_registration_path, :class => 'btn-small' %>
              <% end %>
              
            </li>
            <li><%= link_to "Forgot your password?", new_password_path(User), :class => 'btn-small' %></li>
          </ul>
        </li>
			<% end %>			
    </ul>
	  
  </div>
</div>