<h2>The Swiftgive Team</h2>
<p class='word_wrap'>We're just a group of nerds who identified a need to create a cash substitute for tips and donations.  As more and more of our everyday transactions go digital, there's less of a need to carry around cash in your wallet.  On top of that, ATMs generally only distribute $20 bills which may be more than you want to give. Swiftgive offers you freedom and flexibilty compared to cash. This is a service we want for ourselves, and we want to make it available to everybody.</p>

<h2>Mobile Fundraising</h2>
<p class='word_wrap'>Swiftgive allows you to give money from a mobile device by scanning unique barcodes we call "give codes".</p>
<p class='word_wrap'>We provide a solution for you to start and manage any fund whether you're raising donations for charity or just collecting tips for yourself.</p>
<p class='word_wrap'>After creating your fund you can pick from a variety of customizable marketing products from our partners at Zazzle, getting your give code in front of donors.</p>

<h4>Having a car wash for your sports team?</h4>
<div><%= image_tag MarketingProduct.find_by_name('T-Shirts').image_url(:thumb) rescue nil %></div>
<p class='word_wrap'>We offer T-shirts that have your give code on the front. Donors can scan from the comfort of their car.</p>

<h4>Drive a pedicab?</h4>
<div><%= image_tag MarketingProduct.find_by_name('Wall Decals').image_url(:thumb) rescue nil %></div>
<p class='word_wrap'>Stick a large wall decal with your give code on the side of your ride. No more awkward looks from people with empty wallets.</p>

<h4>Your organization give out gifts?</h4>
<div><%= image_tag MarketingProduct.find_by_name('Coffee Mugs').image_url(:thumb) rescue nil %></div>
<p class='word_wrap'>Send out coded coffee mugs.</p>

<h4>Work as a valet?</h4>
<div><%= image_tag MarketingProduct.find_by_name('Buttons').image_url(:thumb) rescue nil %></div>
<p class='word_wrap'>Pin a coded button to your company shirt.</p>

<h4>Drive a tour bus?</h4>
<div><%= image_tag MarketingProduct.find_by_name('Business Cards').image_url(:thumb) rescue nil %></div>
<p class='word_wrap'>Hand out your coded business cards as passengers depart.</p>

<h4>The possibilities are endless</h4>
<p class='word_wrap'>Place a coded sticker on your church collection plate.</p>
<p class='word_wrap'>Mail out postcards with your give code on it.</p>
<p class='word_wrap'>Let us know if you want other products that are not available!</p>

<h4 class='mt mb'>Go out and raise some money</h4>

<h2>Free to give, Free to receive</h2>
<p class='word_wrap'>Swiftgive is built on top of <%= link_to 'Square Cash', 'https://square.com/cash' %>, a free peer-to-peer payment gateway.  This means you pay nothing to give or receive payments.</p>
<h4 class='mt'>All you need is an email and a debit card</h4>

<h2>Secure</h2>
<p class='word_wrap'>Because Square handles all of our transactions, you can rest easy knowing that your sensitive information is in the hands of one of the major payment providers operating in the US.</p>


<h2>Universal</h2>
<p class='word_wrap'>Swiftgive works on all modern mobile devices.  There is no special Swiftgive app you need to download.</p>
<p class='word_wrap'>Give codes can be recognized by most barcode reading apps free to download from your app store.</p>

