<% title t('slogan'), false %>

<div class='page-background-image background-image-1'></div>
<div class='jumbotron'>
	<h1 class='frontpage text-shadow-white'><%= t('slogan') %></h1>
	<p class='mt-m mb-n t-ss tc-light-grey text-shadow-black'><i><%= t('slogan-sub') %></i></p>			
</div>
<%= link_to "Start Your Fund Today", funds_path, :'data-role' => 'button', :'data-icon' => 'check', :'data-theme' => 'b'%>
<div style='height:10px;'></div>
<p>
	<ul data-role='listview' data-inset='true'>
		<li>
			<h2><i class='fa fa-fw fa-exclamation-triangle tc-g'></i> The Problem</h2>
      <p class='lead word_wrap mt'><%= t('the-problem') %></p>
		</li>
	</ul>
	<ul data-role='listview' data-inset='true'>
		<li>
			<h2><i class='fa fa-fw fa-check-square tc-g'></i> The Solution</h2>
      <p class='lead word_wrap mt'><%= t('the-solution') %></p>
		</li>
	</ul>
	<ul data-role='listview' data-inset='true'>
		<li>		
			<div class='ui-grid-a ui-responsive'>
				<div class='ui-block-a'>	
					<h2><i class='fa fa-fw fa-dollar tc-g'></i> Raising Money</h2>				
					<p class='word_wrap mt text-justify'>Start a new fund or find one you want to promote. Get customizable marketing products specially coded to that fund.</p>
					<p class='word_wrap'>Help spread the word by giving products to friends or to your fundraising team.</p>
					<p class='word_wrap'>Distribute or display marketing products in public while asking people to contribute. We have products available for a variety of marketing strategies.</p>						
				</div>
				<div class='ui-block-b center_wrap'>
					<%= image_tag asset_path('marketing_montage.png'), :width => '70%' %>
				</div>
			</div>
		</li>
	</ul>
	<ul data-role='listview' data-inset='true'>	
		<li>			
			<div class='ui-grid-a ui-responsive'>
				<div class='ui-block-b'>					
				<h2><i class='fa fa-fw fa-heart tc-g'></i> Giving Money</h2>
					<p class='lead word_wrap mt'>Scan a give code using any QR code reading app on any type of device. No need to download a special Swiftgive app. </p>
					<p class='lead word_wrap'>Read more about the fund from your device before deciding to give, or wait to give later after services rendered.</p>
					<p class='lead word_wrap'>Choose amount to give and send payment directly from your device.  All you need is email and a debit card. Debit card information can be entered later if you're short 
					on time.</p>	
				</div>
				<div class='ui-block-b center_wrap'>
					<%= image_tag asset_path('iphone_scanning_give_code.png'), :width => '50%' %>
				</div>				
			</div>
		</li>
	</ul>
</p>
<%= link_to "Learn More", about_path, :'data-role' => 'button', :'data-icon' => 'info' %> 
