<% title t('slogan'), false %>

<% content_for :page do %>
	<div class='page-background-image background-image-1'></div>
<% end %>

<div class='frontpage-banner'>
	<div class="jumbotron jumbotron-translucent mt">
		<h1 class='text-shadow-white'><%= t('slogan') %></h1>  
		<p class='text-shadow-white'><%= t('slogan-sub') %></p>
		<%= link_to "Start For Free Today &nbsp<i class='fa fa-chevron-circle-right'></i>".html_safe, new_fund_path, :class => 'btn btn-lg btn-primary mt mb box-shadow-white' %>
	</div>
</div>

<div class='row'>
	<div class='col-md-4 center_wrap mb'>		
		<div class='bc-g mb-m icon-wrapper-circle icon-wrapper-circle-large'>
			<i class='fa fa-dollar icon-in-wrapper-large tc-w'></i>
		</div>
		<h3 class='mb-m'>Free to Use</h3>
		<p><i>Totally free. No fee to give. No fee to receive.</i></p>
	</div>
	<div class='col-md-4 center_wrap mb'>		
		<div class='bc-g mb-m icon-wrapper-circle icon-wrapper-circle-large'>
			<i class='fa fa-mobile-phone icon-in-wrapper-large tc-w'></i>
		</div>
		<h3 class='mb-m'>Universal</h3>
		<p><i>Works with most modern mobile devices. All you need is email and a debit card.</i></p>
	</div>
	<div class='col-md-4 center_wrap mb'>
		<div class='bc-g mb-m icon-wrapper-circle icon-wrapper-circle-large'>
			<i class='fa fa-lock icon-in-wrapper-large tc-w'></i>
		</div>
		<h3 class='mb-m'>Secure</h3>
		<p><i>Built on top of an established peer-to-peer payment service.</i></p>
	</div>
</div>

<div class='row row-hr'></div>

<div class='row'>
	<div class='center_wrap'><h2 class='t-ssl drop-shadow-up'>Giving with Swiftgive</h2></div>
	<br/>
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-body center_wrap'>
				<h3 class='lead'>Scan a Give Code</h3>
				<%= image_tag asset_path('iphone_scanning_give_code.png'), :height => '325px' %>
				<div class='giving-arrow'>
					<div class='bc-g icon-wrapper-circle icon-wrapper-circle-large'>
						<i class='fa fa-chevron-right icon-in-wrapper-large tc-w pl-m'></i>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<i>Use any <b>QR code reading app</b> free from your app store. There is no special Swiftgive app that you need to download.</i>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-body center_wrap'>
				<h3 class='lead'>Enter Amount to Give</h3>
				<%= image_tag asset_path('iphone_selecting_amount.png'), :height => '325px' %>
				<div class='giving-arrow'>
					<div class='bc-g icon-wrapper-circle icon-wrapper-circle-large'>
						<i class='fa fa-chevron-right icon-in-wrapper-large tc-w pl-m'></i>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<i>Optionally include a message, then tap <b>Give Now</b>. Feel free to <b>give as a guest</b> or you can sign in and choose to make your donation public.</i>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-body center_wrap'>
				<h3 class='lead'>Send Payment Email</h3>				
				<%= image_tag asset_path('iphone_sending_email.png'), :height => '325px' %>
			</div>
			<div class="panel-footer">
				<i>We set up the email for you so <b>just tap send</b>. <b>Square Cash</b> will respond via email, allowing you to enter <b>debit card</b> info and finalize your payment. </i>
			</div>
		</div>
	</div>
</div>

<div class='row row-hr'></div>

<div class='row'>
	<div class='center_wrap'><h2 class='t-ssl drop-shadow-up'>Raising Money with Swiftgive</h2></div>
	<br/>
	<div class='col-md-4 center_wrap mt'>
		<%= image_tag asset_path('marketing_montage.png'), :height => '300px', :width => '300px' %>
	</div>
	<div class='col-md-8'>
		<div class='row ml pl'>
			<div class='col-sm-2'>
				<span class='icon-wrapper-circle icon-wrapper-circle-medium bc-g'>
					<div class='tc-w icon-in-wrapper-medium'><i class='fa fa-inbox'></i></div>
				</span>
			</div>
			<div class='col-sm-10 mt'>
				<h3 class='d-ib lead t-sl'>Find a Fund to Promote</h3>
				<p class='tc-grey'>Think of funds like an inbox for tips and donations. Start a new one yourself or find one to promote. A fund can be for a single person or for an entire organization with lots of fundraisers.</p>
			</div>
		</div>
		<div class='row ml pl'>
			<div class='col-sm-2'>
				<span class='icon-wrapper-circle icon-wrapper-circle-medium bc-g'>
					<div class='tc-w icon-in-wrapper-medium'><i class='fa fa-qrcode'></i></div>
				</span>
			</div>
			<div class='col-sm-10 mt'>
				<h3 class='d-ib lead t-sl'>Arm yourself with marketing products</h3>
				<p class='tc-grey'>Get customizable marketing products specially coded to a fund. Add your logo and text for a personal touch. Help spread the word by giving products to friends, and share your fund on social media to encourage others to promote with you.</p>
			</div>
		</div>
		<div class='row pl ml'>
			<div class='col-sm-2'>
				<span class='icon-wrapper-circle icon-wrapper-circle-medium bc-g'>
					<div class='tc-w icon-in-wrapper-medium'><i class='fa fa-group'></i></div>
				</span>
			</div>
			<div class='col-sm-10 mt'>
				<h3 class='d-ib lead t-sl'>Have donors scan your give codes</h3>
				<p class='tc-grey'>We have products for a variety of strategies. Want face-to-face interaction? Pick up some coded buttons to wear or business cards to hand out. Prefer a more distanced approach? Put up coded stickers and posters, or just mail out some coded post cards.</p>
			</div>
		</div>
	</div>
</div>

<div class='row row-hr'></div>

<div class='row'>	
	<div class='col-md-6 col-md-offset-3 center_wrap'>
		<div class='panel panel-default'>
			<div class='panel-body center_wrap'>
				<h3 class='lead t-ssl drop-shadow-up'>Check out Our Fund</h3>
				<% if ENV['SWIFTGIVE_FUND_UID'].present? %>
					<%= link_to image_tag("swiftgive_give_code.png", :width => '400px'), fund_path(ENV['SWIFTGIVE_FUND_UID']) %>	
				<% else %>
					<%= image_tag("swiftgive_give_code.png", :width => '400px') %>
				<% end %>				
			</div>
			<div class="panel-footer">
				This is what give codes look like. <b>Scan</b> or <b>click</b> this code to check out our fund called "Help Support Swiftgive".  It's is a fully functional fund to raise money for the maintenance and development of Swiftgive, but it also serves as a demo. You are welcome to give if you'd like, but please don't feel obligated.
			</div>
		</div>
		
	</div>
</div>


<div class='row row-hr'></div>

<div class='row'>
	<div class='col-md-5 center_wrap'>
		<%= image_tag asset_path('empty_wallet.jpg'), :width => '300px' %>
	</div>
	<div class='col-md-7 mt center_wrap'>
		<h3 class='t-sl drop-shadow-up'><i class='fa fa-fw fa-exclamation-triangle tc-g fa-lg'></i> The Problem</h3>
	    <p class='lead word_wrap text-justify mt pt tc-grey-dark'><%= t('the-problem') %></p>
	</div>	
</div>
<br/>
<br/>
<div class='row'>
	<div class='col-md-7 mt center_wrap'>
		<h3 class='t-sl drop-shadow-up'><i class='fa fa-fw fa-check-square tc-g fa-lg'></i> The Solution</h3>
	    <p class='lead word_wrap text-justify mt pt tc-grey-dark'><%= t('the-solution') %></p>
	</div>	
	<div class='col-md-5 center_wrap'>
		<%= image_tag asset_path('give_by_phone.jpg'), :height => '300px' %>
	</div>
</div>

<div class='row row-hr'></div>

<div class ='row mt mb center_wrap'>
	<div class='col-md-6'>
		<%= link_to "Get Started Now &nbsp<i class='fa fa-chevron-circle-right'></i>".html_safe, new_fund_path, :class => 'btn btn-lg btn-primary mt mb' %>
	</div>
	<div class='col-md-6'>
		<%= link_to "Learn More &nbsp<i class='fa fa-info-circle'></i>".html_safe, about_path, :class => 'btn btn-lg btn-default mt mb' %>
	</div>
</div>

<script>

	$(document).ready(function(){
		cyclePageBackgroundImage();
	});

</script>