<% 

qr_code = RQRCode::QRCode.new(message, :size => 7, :level => :h)

image_width  = 3.5 * 400 # 3.5 inches * 400 dpi
image_height = 2.0 * 400 # 2.0 inches * 400 dpi


%>

<style type="text/css">
  body {
    padding:0px;
    margin:0px;
    padding: 20px;
    width:  <%= image_width %>px;
    height: <%= image_height %>px;
  }
  .canvas {
    width:  <%= image_width %>px;
    height: <%= image_height %>px;    
    display:block;
    position:relative;
  }
  .business_card_border {
    position:relative;
    top:50px;
    border-radius: 25px;
    border:  8px solid #000;   
    padding: 30px;
    height: 670px;
    display:block;
  }
  .code_logo_wrapper {
    position:absolute;
    background-color: #fff;    
    padding:10px;
    top:-65px;
    right:150px;
  }
  .code_logo {    
    height:100px;
    width:400px;
  }
  .text_content {
    margin-top:50px;
    vertical-align: middle;
    text-align: center;
    display:inline-block;   
    width:650px;
    height:680px;
  }
  .qr_code_wrapper {
    margin:50px 10px 0px 0px;
    display:inline-block;
    float:right;
    width:620px;
    height:620px;
  }
  .qr_code {
    border:0px;
    height:100%;
    width:100%;
  }
  
  table {
    border-width: 0;
    border-style: none;
    border-color: #000;
    border-collapse: collapse;
    height:100%;
    width:100%;
  }
  td {
    border-width: 0;
    border-style: none;
    border-color: #000;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
  
  .scan_now_wrapper {
    display:inline-block;   
    vertical-align: middle;  
    text-align: center; 
  }
  p.scan_now { 
    display:inline-block;   
    color: rgb(33%, 43%, 33%);
    text-shadow: 0px -1px #000;
    font-size:80px;
    font-weight:bold;
    padding:0px;
    margin:0px;
    font-family: "Helvetica Neue", 'sans sarif';
  }
  p.fund_name {
    display:inline-block;   
    color:#222;
    font-size:50px;
    font-style: italic;    
    margin:20px 0px 0px 0px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    max-height:300px;
    overflow:hidden;
  }
</style>


<div class='canvas'>
  <div class='business_card_border'>   
    <div class='text_content'>
      <p class='scan_now'>
        scan now and give to:
      </p>
      <p class='fund_name'>
        super fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayaysuper fund name yayay
      </p>
    </div>
    <div class='qr_code_wrapper'>
      <div class='code_logo_wrapper'><%= image_tag 'logo_text_lg.png', :class => 'code_logo' %></div>
      <div class='qr_code'>
        <table>
          <% qr_code.modules.each_index do |x| %>
            <tr>
              <% qr_code.modules.each_index do |y| %>
                <% if qr_code.dark?(x,y) %>
                  <td class="black"/>
                <% else %>
                  <td class="white"/>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div> 
    </div>
  </div>
</div>