<% width ||= 513.to_f %>
<% height = 525/500.to_f * width.to_f %>
<% error_level ||= :h %>

<style type="text/css">
  body, html {
    padding:0px;
    margin:0px;
  }
  .give_code_wrapper {
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: <%= width %>px;
    height: <%= height %>px;  
  }
  .give_code_wrapper_image {
    position:absolute;
    z-index: 10;
    width: <%= width %>px;   
    height: <%= height %>px;   
    background:none;
  }
  .qr_code {
    display:inline-block;
    position: absolute;
    top:<%= height.to_f * 0.3 %>px;
    left:<%= width.to_f * 0.5 %>px;
    height:<%= width.to_f * 0.8 %>px;
    width: <%= width.to_f * 0.8 %>px;
    margin-left: -<%= width.to_f * 0.405 %>px;
    margin-top: -<%= width.to_f * 0.2 %>px;
  }
</style>


<div class='div_code_wrapper'>
  <%= image_tag 'give_code_wrapper.svg', :class => 'give_code_wrapper_image' %>
  
  <div class='qr_code'>
    <%= render :partial => 'funds/give_codes/qr_code', :locals => {:message => message, :size => width * 0.82, :error_level => error_level} %>
  </div>
  
</div>
