<% title 'Returning User Sign In' %>

<%= simple_form_for @user, :url => user_session_path, :html => { :honeypot => true, :class => 'ma' } do |f| %>
  
  <%= f.input :email , :required => 'true', :placeholder => 'Email' %>
  <%= f.input :password, :required => 'true', :placeholder => 'Password'  %>
    
  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, :as => :boolean, :label => '&nbsp;'.html_safe, :inline_label => 'Remember me' %>
  <% end %>

  
  <div class='form-group'>
		<div class='col-md-offset-4 col-md-6'>  
		  <%= button_tag(type: 'submit', class: "btn btn-primary", wrapper_class: 'form-group') do %>
		    <i class="fa fa-fw fa-sign-in"></i> Sign In
		  <% end %>
		  <%= link_to "Sign up first", new_user_registration_path, :class => 'btn btn-sm' %>
		</div>
	</div>

<% end %>