<% title 'Returning User Sign In' %>

<div class='col-md-7 col-md-offset-2 mt mb'>

	<%= simple_form_for @user, :url => user_session_path, :html => { :honeypot => true, :class => 'ma' } do |f| %>
	  
		<%= f.input :email , :required => 'true', :placeholder => 'Email', :wrapper => :none, :wrapper_html => {:class => 'pl pr'}, :label => false  %>
		<%= f.input :password, :required => 'true', :placeholder => 'Password', :wrapper => :none, :wrapper_html => {:class => 'pl pr'}, :label => false %>
	    
		<% if devise_mapping.rememberable? %>
			<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => 'Remember me' %>
		<% end %>

		<%= button_tag(type: 'submit', class: "btn btn-primary", wrapper_class: 'form-group') do %>
			<i class="fa fa-fw fa-sign-in"></i> Sign In
		<% end %>
		<div class='mt'>
			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <%= link_to "Sign up first", new_user_registration_path, :class => 'btn btn-sm'  %>
			<% end -%>
		</div>
		<div>
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			  <%= link_to "Forgot your password", new_user_password_path, :class => 'btn btn-sm'  %>
			<% end -%>
		</div>
		<div>
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "Resend confirmation email", new_user_confirmation_path, :class => 'btn btn-sm'  %> <br />
			<% end -%>
		</div>
	<% end %>

</div>