<div>
  <form id="bankAccountForm">
      <div>
          <label>Account Name</label>
          <input type="text" name="name" value="Mahmoud MacBook">
      </div>
      <div>
          <label>Account Number</label>
          <input type="text" name="account_number" value="000000-00" autocomplete="off">
      </div>
      <div>
          <label>Bank Code (Routing Number in USA)</label>
          <input type="text" name="bank_code" value="321174851">
      </div>
      <button>submit</button>
  </form>
</div>

<div>
  <%= form_tag account_bank_accounts_path, :id => 'accountData', :method => :post do %>  

    <%= hidden_field_tag 'accountData[uri]' %>
    <%= hidden_field_tag 'accountData[account_type]' %>
    <%= hidden_field_tag 'accountData[bank_name]' %>
    <%= hidden_field_tag 'accountData[owner_name]' %>
    <%= hidden_field_tag 'accountData[last_4_digits]' %>
    <%= hidden_field_tag 'accountData[is_debitable]' %>
    <%= hidden_field_tag 'accountData[is_valid]' %>  

  <% end %>
</div>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script type="text/javascript">
    var marketplaceUri = '<%= ENV['BALANCED_MARKETPLACE_URI'] %>';
 
    var debug = function (tag, content) {
        //$('<' + tag + '>' + content + '</' + tag + '>').appendTo('#result');
        flashNow(content);
    };
 
    try {
        balanced.init(marketplaceUri);
    } catch (e) {
        debug('code', 'You need to set the marketplaceUri variable');
    }
 
    function balancedAccountAddCallback(response) {
        var tag = (response.status < 300) ? 'pre' : 'code';
        debug(tag, JSON.stringify(response));
        switch (response.status) {
            case 201:
              // response.data.uri == uri of the bank account resource, submit to your server
              $('#accountData_uri').val(response.data.uri);
              $('#accountData_account_type').val(response.data.type);                
              $('#accountData_bank_name').val(response.data.bank_name);                
              $('#accountData_owner_name').val(response.data.name);                  
              $('#accountData_last_4_digits').val(response.data.last_four);
              $('#accountData_is_debitable').val(response.data.can_debit);                
              $('#accountData_is_valid').val(response.data.is_valid);                              
              $('form#accountData').submit();              
            case 400:
            case 403:
                // missing/malformed data - check response.error for details
                break;
            case 404:
                // your marketplace URI is incorrect
                break;
            default:
                // we did something unexpected - check response.error for details
                break;
        }
    }
 
    var tokenizeBankAccount = function(e) {
        e.preventDefault();
 
        var $form = $('form#bankAccountForm');
        var bankAccountData = {
            name: $form.find('[name="name"]').val(),
            account_number: $form.find('[name="account_number"]').val(),
            bank_code: $form.find('[name="bank_code"]').val()
        };
 
        balanced.bankAccount.create(bankAccountData, balancedAccountAddCallback);
    };
 
    $('#bankAccountForm').submit(tokenizeBankAccount);
 
</script>