<div data-role="popup" id='new_bank_account_form_popup' data-history='false' data-position-to="window" data-overlay-theme="a" data-transition='fade'>

  <div data-role="header" data-theme='a'>
      <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
      <h4 style='margin:10px 0px;'>Add Bank Account</h4>
  </div>
  
  <div class='pa'>
     
    <form id="bankAccountForm">
        <div>          
          <input type="text" name="name" autocomplete="off" placeholder='Account Holder Name' data-mini='true' <%= "value=Bob" unless Rails.env.production? %>></input>          
        </div>        
        <div>          
          <input type="text" name="account_number" <%= "value=000000-00" unless Rails.env.production? %> autocomplete="off" placeholder='Account Number' data-mini='true'></input>          
        </div>   
        <div>          
          <input type="text" name="bank_code" <%= "value=321174851" unless Rails.env.production? %> autocomplete="off" placeholder='Bank Routing Number' data-mini='true'></input>          
        </div>   

        <button data-icon='check' data-theme='b'>Validate Bank Account</button>        
    </form>

  </div>

  <%= form_tag fund_bank_account_path(:fund_id => current_fund), :id => 'accountData', :method => :post do %>  

    <%= hidden_field_tag 'accountData[balanced_uri]' %>

  <% end %>
  
    
  <div id="result"></div>

</div>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script type="text/javascript">

  var marketplaceUri = '<%= ENV['BALANCED_MARKETPLACE_URI'] %>';

  var debug = function (tag, content) {
    console.log('<' + tag + '>' + content + '</' + tag + '>');
  };

  function balancedAccountAddCallback(response) {
    var tag = (response.status < 300) ? 'pre' : 'code';
    debug(tag, JSON.stringify(response));
    switch (response.status) {
      case 201:
        // response.data.uri == uri of the bank account resource, submit to your server
        $('#accountData_balanced_uri').val(response.data.uri);                           
        $('form#accountData').submit();              
      case 400:
      case 403:
        // missing/malformed data - check response.error for details
        break;
      case 404:
        // your marketplace URI is incorrect
        break;
      default:
        // we did something unexpected - check response.error for details
        break;
    }
  }

  var tokenizeBankAccount = function( $form ) {
    var bankAccountData = {
      name: $form.find('[name="name"]').val(),
      account_number: $form.find('[name="account_number"]').val(),
      bank_code: $form.find('[name="bank_code"]').val()
    };    
    try {
      balanced.init(marketplaceUri);
    } catch (e) {
      debug('code', 'You need to set the marketplaceUri variable');
    }
    balanced.bankAccount.create(bankAccountData, balancedAccountAddCallback);
  };
 
  $('form#bankAccountForm button').click(function(e){
    e.preventDefault();
    var new_bank_account_popup = $(this).closest("[data-role='popup']");
    var is_all_data_populated = true;
    $.each($(this).closest('form').find('input'), function(){
      if (!$(this).val()) {
        is_all_data_populated = false;
      }
    });
    if (is_all_data_populated) {
      new_bank_account_popup.popup('close');
      tokenizeBankAccount($(this).closest('form'));
    } else {
      new_bank_account_popup.on('popupafterclose', function() {
        window.setTimeout(function() {
          flashNow('Please completely fill out account information', 'error', new_bank_account_popup);
        }, 500);
        new_bank_account_popup.off('popupafterclose');
      });
      new_bank_account_popup.popup('close');
    }    
  });
 
</script>