<% title receiving_fund.name %>

<h3>Complete this form to give</h3>
<p class='lead'>Your Generosity is greatly appreciated</p>

<%= simple_form_for @payment, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>

  <%= f.hidden_field :fund_id, :value => (params[:payment][:fund_id] rescue receiving_fund.id) %>
  
  <%#= f.input :amount_in_cents,   :label => "Amount", 
                                  :collection => [['$ 2', 200], ['$ 5', 500], ['$ 10', 1000], ['Other', 'other']],
                                  :include_blank => false,
                                  :required => true %>
  <%= f.input :amount_in_dollars, :required => true, :wrapper => :prepend_append, :label => 'Amount', :input_html => {:style => 'width:50px'} do %>
    <%= content_tag :span, "$", :class => "add-on" %>
	<%= f.input_field :amount_in_dollars, :class => 'currency_input no_sign span1', :style => 'text-align:right;' %>
    <%= content_tag :span, ".00", :class => "add-on add-on-append" %>
    
  <% end %>

  <%= f.input :amount_in_cents,   :as => :hidden %>
  

  <%= f.input :is_anonymous, :label => "Anonymous",
  							:include_blank => false,
  							 :collection => [['Give Publically',false],["Give Anonymously",true]] %>
  
  <%= f.input :message, :label => 'Optional Message',
  						:as => :string,
  						:placeholder => 'ex. "Thanks!"' %>   
  
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, :value => 'Give',:class => 'btn-primary' %>      
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn" %>      
    </div>
  </div>

<% end %>

<script type='text/javascript'>

	$("input[name='payment[amount_in_dollars]']").change(function(){
		$("input[name='payment[amount_in_cents]']").val($(this).val() * 100);
	});

</script>