<%= form_for @payment do |f| %>

  <div class='center_wrap'>
    Give to:
  </div>

  <div class='ui-grid-solo center_wrap mb-s'>
    <div class='center' style='position:relative'>
      <i><b><%= receiving_fund.name %></b></i>
      <%= link_to 'profile', fund_path(receiving_fund, :format => :mobile), :class => 'center', :style => 'padding:0px;margin:0px;margin-left:5px;top:7px;', :'data-role' => 'button', :'data-icon' => 'search', :'data-iconpos' => 'notext', :'data-shadow' => false %>
    </div>
  </div>

  <div class='ui-grid-a' style='margin-right:-5px'>
    <div class='ui-block-a' style='margin-top:15px;text-indent:5px;'>Amount to give:</div>
    <div class='ui-block-b' style=''>
      <div><%= f.select :amount, [['$ 2.00', 200], ['$ 5.00', 500], ['$ 10.00', 1000], ['Other', 'other']], { :selected => 500 }, :'data-native-menu' => 'false' %></div>
    </div>  
  </div>

  <div class='ui-grid-a'>
    <div class='ui-block-a main' style='margin-top:15px;text-indent:5px;'>Anonymous giving:</div>
    <div class='ui-block-b side' style='padding-right:0px;text-align:right'>
      <%= f.select :is_anonymous, [['off',false],["on",true]], {}, :'data-role' => 'slider', :'data-theme' => 'c' %>
    </div>  
  </div>

  <div class='ui-grid-solo ml-s mr-s'>
    <%= f.text_field :message, :'placeholder' => 'Optional Message', :'data-mini' => true, :'data-theme' => 'b' %>    
  </div>
  
  <%= f.hidden_field :fund_id %>
  
  <div style='height:3px'></div>

  <div class='ui-grid-full'>
    <%= f.submit "Give Now", :'data-role' => 'button', :'data-theme' => 'b', :'data-icon' => 'check' %>
  </div>
  
  <div class='ui-grid-full mt'>
    <%= link_to 'Cancel', root_path(:format => :mobile), :'data-role' => 'button', :'data-mini' => true, :'data-icon' => 'delete'%>
  </div>
  
<% end %>

<div id="custom_amount_popup" class='pa-m' style='width:250px' data-role="popup" data-position-to="window" data-overlay-theme="a">
  <div class='ui-grid-solo center_wrap'>
    <h1 id='custom_amount_value' class='mb' style='margin-top:-0px;'>$ 15.00</h1>
  </div>
  <div data-role='controlgroup' data-type='horizontal'>
    <div class='ui-grid-b'>
      <div class='ui-block-a'><div data-role='button' class='custom_amount_button' data-value='1'>1</div></div>
      <div class='ui-block-b'><div data-role='button' class='custom_amount_button' data-value='2'>2</div></div>
      <div class='ui-block-c'><div data-role='button' class='custom_amount_button' data-value='3'>3</div></div>
    </div>
  </div>
  <div data-role='controlgroup' data-type='horizontal'>
    <div class='ui-grid-b'>
      <div class='ui-block-a'><div data-role='button' class='custom_amount_button' data-value='4'>4</div></div>
      <div class='ui-block-b'><div data-role='button' class='custom_amount_button' data-value='5'>5</div></div>
      <div class='ui-block-c'><div data-role='button' class='custom_amount_button' data-value='6'>6</div></div>
    </div>
  </div>
  <div data-role='controlgroup' data-type='horizontal'>
    <div class='ui-grid-b'>
      <div class='ui-block-a'><div data-role='button' class='custom_amount_button' data-value='7'>7</div></div>
      <div class='ui-block-b'><div data-role='button' class='custom_amount_button' data-value='8'>8</div></div>
      <div class='ui-block-c'><div data-role='button' class='custom_amount_button' data-value='9'>9</div></div>
    </div>
  </div>
  <div data-role='controlgroup' data-type='horizontal'>
    <div class='ui-grid-b'>
      <div class='ui-block-a'></div>
      <div class='ui-block-b'><div data-role='button' class='custom_amount_button' data-value='0'>0</div></div>
      <div class='ui-block-c'></div>
    </div>      
  </div>
  <div class='ui-grid-a'>
    <div class='ui-block-a'><div data-role='button' class='custom_amount_button' data-value='clear'>Clear</div></div>
    <div class='ui-block-b'><div id='custom_amount_ok_button' data-role='button' data-theme='b' data-icon='check'>OK</div></div>
  </div>      
  
</div>

<script type='text/javascript'>

  $('#custom_amount_value').initAutoNumeric();

  $('.main_page').on( 'pageinit', function() {    
    
    $('#payment_amount').mousedown(function(){
      alert('hi');
      $('#payment_amount').data('previous_value', $('#payment_amount').val());
    });

    $('#payment_amount-listbox').on( "popupafterclose", function( event, ui ) {
      if ($('#payment_amount').val() == 'other'){
        $('#payment_amount').val($('#payment_amount').data('previous_value'));
        $('#payment_amount').selectmenu( "refresh" );
        window.setTimeout ( function() { 
          $('#custom_amount_popup').popup('open', {transition: 'slidedown'}); 
        }, 150 );
      }
    });

    if ('ontouchstart' in document.documentElement) {
      $('.custom_amount_button').bind('touchstart', custom_amount_button_press);
      $('#custom_amount_ok_button').bind('touchstart', custom_amount_ok_button_press);
    } else {
      $('.custom_amount_button').bind('click', custom_amount_button_press);
      $('#custom_amount_ok_button').bind('click', custom_amount_ok_button_press);    
    } 

  });
  
  function custom_amount_button_press() {    
    if ($(this).data('value') == 'clear'){
      $('#custom_amount_value').autoNumeric('set', 0);
    } else if($(this).data('value') == 'backspace') {
      var current_value = parseInt($('#custom_amount_value').autoNumeric('get'));
      var new_value = parseInt(current_value / 10);
      $('#custom_amount_value').autoNumeric('set', new_value);
    } else {
      var current_value = parseInt($('#custom_amount_value').autoNumeric('get'));
      var new_value = current_value * 10 + parseInt($(this).data('value'));
      $('#custom_amount_value').autoNumeric('set', new_value);
    }
  }

  function custom_amount_ok_button_press() {
    var value_text  = $('#custom_amount_value').html();
    var value_value = $('#custom_amount_value').autoNumeric('get');
    if ($('#payment_amount option').length == 5 ) {
      $('#payment_amount option:eq(3)').remove();
    } 
    var index_to_insert_before = $('#payment_amount option').length - 1;
    $('#payment_amount option:eq(' + index_to_insert_before + ')').before("<option value=" + value_value + ">" + value_text + "</option>");  
    $('#payment_amount').val(value_value);
    $('#payment_amount').selectmenu( "refresh" );
    $('#custom_amount_popup').popup('close'); 
  }

</script>
