<%= render :partial => 'payments/custom_amount_form', :formats => [:mobile] %>
<%= render :partial => 'payments/square_cash_splash', :formats => [:mobile] %>

<%= form_for @payment, :html => { :honeypot => true } do |f| %>
  
  <%= f.hidden_field :fund_id %>

  <ul data-role="listview" data-inset="true" data-theme"a">
    <li data-role="list-divider" data-theme='a'>Give to:</li>
    <li data-icon='info'>
      <%= link_to "#{receiving_fund.name}", fund_path(receiving_fund) %>
    </li>
  </ul>

  <ul data-role="listview" data-inset="true" data-theme"a">    
    <li style='margin:0px;padding:0px;'>
      <div class='ui-grid-a pa-s'>
        <div class='ui-block-a pt-m pl-m t-s'><h3>Amount:</h3></div>
        <div class='ui-block-b pr-s'>
          <div><%= f.select :amount_in_cents, [['$ 2', 200], ['$ 5', 500], ['$ 10', 1000], ['Other', 'other']], { :selected => 500 }, :'data-mini' => true, :'data-native-menu' => 'false', :'data-id' => 'payment_amount' %></div>
        </div>
      </div>
    </li>
    <li style='margin:0px;padding:0px;'>
      <div class='ui-grid-a pa-s'>
        <div class='ui-block-a pt-m pl-m t-s'><h3>Anonymous:</h3></div>
        <div class='ui-block-b pr-s' style='text-align:right;'>
          <%= f.select :is_anonymous, [['No',false],["Yes",true]], {}, :'data-role' => 'slider', :'data-mini' => true, :'data-theme' => 'a' %>
        </div>  
      </div>
    </li>
    <li style='margin:0px;padding:8px;'>
      <%= f.text_field :message, :'placeholder' => 'Optional Message', :'data-mini' => true, :'data-theme' => 'a' %>    
    </li>
  </ul>
  
  <div class='ui-grid-full'>
    <%= f.submit "Give Now", :'data-role' => 'button', :'data-theme' => 'b', :'data-icon' => 'check' %>
  </div>
  <div class='ui-grid-full'>
    <%= f.submit "Save for Later", :'data-role' => 'button', :'data-theme' => 'c', :'data-icon' => 'clock' %>
  </div>

<% end %>


<script type='text/javascript'>

  $( document ).delegate("[data-role='page']", "pageinit", function() {

    $('#custom_amount_value').initAutoNumeric();

    $('#payment_amount_in_cents-listbox').on( "popupafterclose", function( event, ui ) {
      var target = $('#payment_amount_in_cents');
      if (target.val() == 'other'){
        target.val(target.children('option:first-child').attr('value'));
        target.selectmenu( "refresh" );
        window.setTimeout(function() { 
          $('#custom_amount_popup').popup('open'); 
        }, 300 );
      }
    });

    if ('ontouchstart' in document.documentElement) {
      $('.custom_amount_button').on('touchstart', custom_amount_button_press);
      $('#custom_amount_ok_button').on('click', custom_amount_ok_button_press);
    } else {
      $('.custom_amount_button').on('click', custom_amount_button_press);
      $('#custom_amount_ok_button').on('click', custom_amount_ok_button_press);    
    }

  });

  function custom_amount_button_press() {
    var target = $('#custom_amount_value');
    var source_button = $(this);
    if (source_button.data('value') == 'clear'){
      target.autoNumeric('set', 0);
    } else if(source_button.data('value') == 'backspace') {
      var current_value = parseInt(target.val().autoNumeric('get'));
      var new_value = parseInt(current_value / 10);
      target.autoNumeric('set', new_value);
    } else {
      var current_value = parseInt(target.autoNumeric('get'));
      var new_value = current_value * 10 + parseInt($(this).data('value'));
      target.autoNumeric('set', new_value);
    }
  }

  function custom_amount_ok_button_press() {
    var value_text  = $('#custom_amount_value').html();
    var value_value = $('#custom_amount_value').autoNumeric('get') * 100; 
    if ($('#payment_amount_in_cents option').length == 5 ) {
      $('#payment_amount_in_cents option:eq(3)').remove();
    } 
    var index_to_insert_before = $('#payment_amount_in_cents option').length - 1;
    $("#payment_amount_in_cents option:eq(" + index_to_insert_before + ")").before("<option value=" + value_value + ">" + value_text + "</option>");  
    $('#payment_amount_in_cents').val(value_value);
    $('#payment_amount_in_cents').selectmenu( "refresh" );
    //$('.ui-popup-screen.in').trigger('click');
    $('#custom_amount_popup').popup('close');
  }

 $('form').submit(function(event) {
    var url = '<%= payments_path(:method => :post) %>';   
    $.ajax( {
      url: url,
      data: $(this).serialize(),
      type: "POST",
      success: function (response) {       
        if (response == 'error') {
          flashNow('Error submitting payment...', 'error');
        } else {
          var amount_in_dollars = $('#payment_amount_in_cents option:selected').val() / 100;
          var message         = $('#payment_message').val();
          var email_params = [{ name:"cc",        value:"cash@square.com" },
                              { name:"subject",   value:"here's%20$" + amount_in_dollars + "%20courtesy%20of%20Swiftgive" },
                              { name:"body",      value:"Note%20from%20sender:%20" + message + "\r\rPayment%20ID%20=%20" + response['uid'] }];
          var mail_to_link = "mailto:" + response.receiver_email + "?" + $.param(email_params);
          $('#square_cash_splash_popup').popup('open');  
          $('#email_link_button').click(function(event){
            setTimeout(function () {
                location.href = mail_to_link;
            }, 1000);
          });
        }        
      },
      error: function (response) {
        flashNow('Error submitting payment...', 'error');
      },
      dataType: 'json'
    });
    return event.preventDefault();
  });
  

</script>