<%#= render :partial => 'payments/login_or_guest_prompt', :formats => [:mobile] unless user_signed_in? %>
<%= render :partial => 'accounts/payment_cards/new', :locals => {:callback_function => 'balancedAddCardToGiveCallback'}, :formats => [:mobile] %>
<%= render :partial => 'payments/custom_amount_form', :formats => [:mobile] %>

<%= form_for @payment do |f| %>

  <ul data-role="listview" data-inset="true" data-theme"a">
    <li data-role="list-divider" data-theme='a'>You are giving to</li>  
    <li data-icon='info'>
      <%= link_to "#{receiving_fund.name}", fund_path(receiving_fund) %>
    </li>
  </ul>

  <%= f.hidden_field :fund_id %>

  <ul data-role="listview" data-inset="true" data-theme"a">    
    <li style='margin:0px;padding:0px;'>
      <div class='ui-grid-a pa-s'>
        <div class='ui-block-a pt-m pl-m t-s'>Amount:</div>
        <div class='ui-block-b'>
          <div><%= f.select :amount_in_cents, [['$ 2', 200], ['$ 5', 500], ['$ 10', 1000], ['Other', 'other']], { :selected => 500 }, :'data-mini' => true, :'data-native-menu' => 'false', :'data-id' => 'payment_amount' %></div>
        </div>  
      </div>
    </li>
    <li style='margin:0px;padding:0px;'>
      <div class='ui-grid-a pa-s'>
        <div class='ui-block-a pt-m pl-m t-s'>Anonymous:</div>
        <div class='ui-block-b pr-s' style='text-align:right;'>
          <%= f.select :is_anonymous, [['No',false],["Yes",true]], {}, :'data-role' => 'slider', :'data-mini' => true, :'data-theme' => 'c' %>
        </div>  
      </div>
    </li>
    <li style='margin:0px;padding:8px;'>
      <%= f.text_field :message, :'placeholder' => 'Optional Message', :'data-mini' => true, :'data-theme' => 'b' %>    
    </li>
  </ul>

  <ul data-role="listview" data-inset="true" data-theme"a">      
    <% current_user_default_payment_card = current_user.account.payment_cards.first rescue nil %>
    <% if user_signed_in? and current_user_default_payment_card.present? %>
      <li data-icon='gear'>
        <a href='#new_payment_card_form' data-rel="popup" class='t-s'>Using <%= "#{current_user_default_payment_card.card_type} (x#{current_user_default_payment_card.last_4_digits})" %></a>        
      </li>
      <%= fields_for :payment_card_used do |c| %>
        <%= c.hidden_field :balanced_uri, :value => current_user_default_payment_card.balanced_uri %>
      <% end %>
    <% else %>
      <li data-icon='plus' id='payment_card_list_item' >
        <a href='#new_payment_card_form' data-rel="popup" class='t-s'>Setup Payment Info</a>
      </li>
      <%= fields_for :payment_card_used do |c| %>
        <%= c.hidden_field :balanced_uri %>
      <% end %>
    <% end %>
  </ul>
  
  <div class='ui-grid-full'>
    <%= f.submit "Give Now", :'data-role' => 'button', :'data-theme' => 'b', :'data-icon' => 'check' %>
  </div>

<% end %>