<div class='center_wrap mb-s'>
  <i>Give to:</i>
</div>

<div class='center_wrap mb'>
  <b><%= receiving_fund.name %></b>
</div>

<!--
<div style='margin-top:20px;margin-bottom:50px;' class='center_wrap'>
  <h1 id='payment_amount_display'></h1>  
</div>
-->

<%= form_for @payment do |f| %>
    
  <div class='ui-grid-solo'>
    <%#= f.text_field :amount, :class => 'currency_input large_input', :style => 'text-align:center;', :'data-theme' => 'e' %>      
  </div>
  

  <div class='ui-grid-full'>
      <%#= f.select :amount, [['$ 2.00', 200], ['$ 5.00', 500], ['$ 10.00', 1000], ['Other', 'other']] %>
  </div>

  <div class='ui-grid-a' style='margin-right:-5px'>
    <div class='ui-block-a' style='margin-top:15px;text-indent:5px;'>Amount to give:</div>
    <div class='ui-block-b' style=''>
      <div><%= f.select :amount, [['$ 2.00', 200], ['$ 5.00', 500], ['$ 10.00', 1000], ['Other', 'other']] %></div>
    </div>  
  </div>
  <!--
  <fieldset data-role='controlgroup' data-type='horizontal'>
    <div class='ui-grid-b'>
      <div class='ui-block-a'><div data-role='button' id='payment_preset_1' class='payment_preset' data-value='2'>$ 2</div></div>
      <div class='ui-block-b'><div data-role='button' id='payment_preset_2' class='payment_preset' data-value='5'>$ 5</div></div>
      <div class='ui-block-c'><div data-role='button' id='payment_preset_3' class='payment_preset' data-value='10'>$ 10</div></div>
    </div>
  </fieldset>      
  -->

  <div class='ui-grid-a'>
    <div class='ui-block-a main' style='margin-top:15px;text-indent:5px;'>Anonymous giving:</div>
    <div class='ui-block-b side' style='padding-right:0px;text-align:right'>
      <%= f.select :is_anonymous, [['off',false],["on",true]], {}, :'data-role' => 'slider', :'data-theme' => 'c' %>
    </div>  
  </div>

  <div class='ui-grid-solo ml-s mr-s'>
    <%= f.text_field :message, :'placeholder' => 'Optional Message', :'data-mini' => true, :'data-theme' => 'b' %>    
  </div>
  
  <%= f.hidden_field :fund_id %>
  
  <div style='height:3px'></div>

  <div class='ui-grid-full'>
    <%= f.submit "Give Now", :'data-role' => 'button', :'data-theme' => 'b', :'data-icon' => 'check'%>
  </div>
  
  <div class='ui-grid-full'>
    <%= link_to 'Cancel', back_path, :'data-role' => 'button', :'data-mini' => false, :'data-icon' => 'delete'%>
  </div>
  
<% end %>

<script type='text/javascript'>
  var other_amount_overlay_template = "<%= render(:partial => 'payments/other_amount', :formats => [:html]).gsub(/\n/,'').html_safe %>";
  $('body').append(other_amount_overlay_template);

  $('#payment_amount').mousedown(function(){
    $(this).data('previous_value', $(this).val());
  });

  $('#payment_amount').change(function(){
    if ($(this).val() == 'other') {
      $(this).val($(this).data('previous_value'));
      $.mobile.changePage( "#custom_amount_dialog", { role: "dialog", transition: "slidedown",} );
    }
  });
</script>


<script type='text/javascript'>
  $('#custom_amount_value').initAutoNumeric();

  $('.custom_amount_button').mousedown(function(){
    if ($(this).data('value') == 'clear'){
      $('#custom_amount_value').autoNumeric('set', 0);
    } else if($(this).data('value') == 'backspace') {
      var current_value = parseInt($('#custom_amount_value').autoNumeric('get'));
      var new_value = parseInt(current_value / 10);
      $('#custom_amount_value').autoNumeric('set', new_value);
    } else {
      var current_value = parseInt($('#custom_amount_value').autoNumeric('get'));
      var new_value = current_value * 10 + parseInt($(this).data('value'));
      $('#custom_amount_value').autoNumeric('set', new_value);
    }
  });

  $('#custom_amount_ok_button').click(function(){
    var value_text = $('#custom_amount_value').html();
    var value_value = $('#custom_amount_value').autoNumeric('get');
    var index_to_insert_before = $('#payment_amount option').length - 1;
    $('#payment_amount option:eq(' + index_to_insert_before + ')').before("<option value=" + value_value + ">" + value_text + "</option>");
    $('#payment_amount').val(value_value);
    $('#payment_amount').selectmenu( "refresh" );
    $('#custom_amount_dialog').dialog('close');
  });
</script>
