<% title receiving_fund.name %>

<%= render :partial => 'accounts/payment_cards/new', :formats => [:html], :locals => {:callback_function => 'AddCardToGiveFormCallback'} %>

<h3>Complete this form to give</h3>
<p class='lead'>Your Generosity is greatly appreciated</p>

<%= simple_form_for @payment, :html => {:class => 'form-horizontal'} do |f| %>

  <%= f.hidden_field :fund_id, :value => (params[:payment][:fund_id] rescue receiving_fund.id) %>
  <hr>
  <%= f.input :amount_in_cents,   :label => "Amount", 
                                  :collection => [['$ 2', 200], ['$ 5', 500], ['$ 10', 1000], ['Other', 'other']],
                                  :include_blank => false,
                                  :required => true %>
  <hr>
  <%= f.input :is_anonymous, :label => "Anonymous",
  							 :collection => [['No',false],["Yes",true]] %>
  <hr>
  <%= f.input :message, :label => 'Optional Message',
  						:as => :string,
  						:placeholder => 'ex. "Thanks!"' %>    
  <hr>
  <%= simple_fields_for :payment_card_used do |payment_card_form| %>
  	<% signed_in_user_cards = user_signed_in? ? current_user.account.payment_cards.collect {|card| ["#{card.card_type} (x#{card.last_4_digits})", card.balanced_uri]} : nil %>
  	<% new_card_option = ['New Card', 'new'] %>
  	<% card_select_options = signed_in_user_cards.present? ? [new_card_option].append([signed_in_user_cards]) : [new_card_option] %>

    <%= payment_card_form.input :balanced_uri, :label => "Payment Card",
		  													 :as => :select,
		  													 :collection => card_select_options,
		  													 :selected => ((user_signed_in? and current_user.account.payment_cards.first.present?) ? current_user.account.payment_cards.first.id : nil) ,
		  													 :include_blank => false,
		  													 :prompt => 'Select Payment Card' %>

	<%= payment_card_form.input :remember_card, :as => :hidden %>	
		  													 
  <% end %>
  <hr>
  
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, :value => 'Give',:class => 'btn-primary' %>
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
    </div>
  </div>

<% end %>

<script type='text/javascript'>

	$('select#payment_card_used_balanced_uri').change(function (){
		var parent_modal = $('#add_payment_card_modal')
		var remember_card_input = $('#payment_card_used_remember_card');
		remember_card_input.val(false); // we dont remember cards by default
		if ($(this).val() == 'new') {
			parent_modal.modal('show');
			$(this).val('');
			updateRememberCardInput();
		}		
	});

	$("[name='accounts_payment_card_submission[remember_card]']").change(function (){
		updateRememberCardInput();
	});

	function updateRememberCardInput(){
		var remember_card_input = $('#payment_card_used_remember_card');
		var rembmer_card_submission_input = $("[name='accounts_payment_card_submission[remember_card]']");
		remember_card_input.val(rembmer_card_submission_input.is(':checked'));
	}			

	function addPaymentCardToSelect(new_label, new_value) {
		var target_select = $('select#payment_card_used_balanced_uri');
	 	var index_to_insert_before = 1;//$("select#payment_card_used_balanced_uri option[value='new']").index('option');
		target_select.find("option:eq(" + index_to_insert_before + ")").before("<option value=" + new_value + ">" + new_label + "</option>");
		target_select.val(new_value);
	}

	function AddCardToGiveFormCallback(response) {
	  var tag = (response.status < 300) ? 'pre' : 'code';
	  debug(tag, JSON.stringify(response));
	  $('.modal.in').spin(false);
	  switch (response.status) {
	    case 201: // OK
	    	$('.modal.in').modal("hide");
	    	// Get Balanced URI from validated card
	    	var uri_for_validated_card 	 = response.data.uri;
	    	var label_for_validated_card = response.data.brand + ' (x' + response.data.last_four + ')';
	    	// Set Balanced URI select in payment form to validated card 
	    	addPaymentCardToSelect(label_for_validated_card, uri_for_validated_card);
	    	// Alert the user their card has been validated
			window.setTimeout ( function() {                  
				flashNow('Your card was successfully validated', 'notice');
			}, 300 );                   
			break;
	    case 400:
	    case 403: // missing/malformed data - check response.error for details	    
	      $.each( response.error, function( key, value ) {
	        $("input[name='"+key+"']").trigger('element:validate:fail', value).data('valid', false);	      
	      });
	      break;
	    case 402: // we couldn't authorize the buyer's credit card - check response.error for details
	        $("input[name='card_number']").trigger('element:validate:fail', 'Could not authorize card').data('valid', false);	      
	      break;
	    case 404: // your marketplace URI is incorrect
	      break;
	    default: // we did something unexpected - check response.error for details
	      break;
	  }
	}
</script>