
<h3>About</h3>
<p class='lead'><%= display_description_with_line_breaks(current_fund.description) %></p>
<table class="table table-striped">
  <tr>
    <th>Based From</th>
    <td><%= "#{current_fund.city.capitalize}, #{current_fund.state}" %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= display_time current_fund.created_at, :day => false %></td>
  </tr>
  <tr>
    <th>Owners</th>
    <td>
    	<% current_fund.owners.each do |owner| %>
    		<div>    			
    			<div class='left'>
    				<b><%= owner.account.full_name %></b><br/>
    				<%= "#{owner.account.city.capitalize}, " if owner.account.city.present? %> <%= "#{Carmen::Country.coded(owner.account.country).subregions.coded(owner.state).name rescue owner.account.state}" if owner.account.state.present? %>
    			</div>
    		</div>
    	<% end %>    	
    </td>
  </tr>
</table>