<h3>Info</h3>
<table class="table table-striped">
  <tr>
    <th>Based From</th>
    <td><p><%= "#{current_fund.city.capitalize}, #{current_fund.state}" %></p></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><p><%= display_time current_fund.created_at, :day => false %></p></td>
  </tr>
  <tr>
    <th>Owners</th>
    <td>
    	<% current_fund.owners.each do |owner| %>
    		<div>
    			<div class='left' ><%= image_tag owner.avatar %></div>
    			<div class='left pl'>
    				<b><%= owner.full_name %></b><br/>
    				<%= "#{owner.city.capitalize}, " if owner.city.present? %> <%= "#{Carmen::Country.coded(owner.country).subregions.coded(owner.state).name rescue owner.state}" if owner.state.present? %>
    			</div>
    		</div>
    	<% end %>    	
    </td>
  </tr>
</table>