<%= simple_form_for @fund, :validate => true, :html => {:class => 'form-horizontal'} do |f| %>
 
  <% if @fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% @fund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :placeholder => 'Fund Name' %>
  <%= f.input :description,  :placeholder => 'Description' %>
  <%= f.input :fund_type, :as => :select,
                          :include_blank => false,
                          :collection => [['Personal','person'],['Business / Non-Profit','business']],
                          :input_html => {:onchange => "refreshFormNewFund()"} %>
    
  <div id="business_information_inputs" style='<%= 'display:none;' unless @fund.is_business_fund? %>'>
    
    <%= f.input :business_name, :placeholder => 'Business Name', :required => true %>
    <%= f.input :business_ein, :placeholder => 'Business EIN' %>
    <%= f.input :business_phone_number, :placeholder => 'Business Phone Number' %>
  
    <%= f.input :street_address, :placeholder => 'Street Address' %>
    <%= f.input :city, :placeholder => 'City' %>    
    <%= f.input :state, :placeholder => 'State' %>    
    <%= f.input :postal_code, :placeholder => 'Zipcode' %>
    
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', back_path, :class => "btn" %>
  </div>
  

<% end %>

<script type='text/javascript'>
  
  function refreshFormNewFund() {
    var trigger_value = $("select#fund_fund_type").val();
    if (trigger_value == 'person') {
      $("div#business_information_inputs").hide();
    } else {
      $("div#business_information_inputs").show();
    }
  }

</script>