<%= simple_form_for @fund, :validate => true, :html => {:class => 'form-horizontal'} do |f| %>
 
  <% if @fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% @fund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :placeholder => 'Fund Name', :input_html => { :maxlength => 50 } %>
  <%= f.input :description,  :as =>  :text,
                            :placeholder => 'Description', :input_html => { :maxlength => 250, :rows => 4 } %>
  <%= f.input :fund_type, :as => :select,
                          :include_blank => false,
                          :collection => [['For Myself','person'],['For Someone Else','third_party'],['For Business / Non-Profit','business']],
                          :input_html => {:onchange => "refreshFormNewFund($(this).closest($('form')))"} %>
    
  <div id="business_information_inputs" style='<%= 'display:none;' unless @fund.is_business_fund? %>'>    
    <%= f.input :receiver_name, :placeholder => 'Business Name', :label => 'Business Name', :required => true, :input_html => { :maxlength => 30 } %>
    <%= f.input :receiver_email, :placeholder => 'Business Email', :label => 'Business Email', :required => true %>
    <%= f.input :city, :placeholder => 'City', :required => true, :input_html => { :maxlength => 30 } %>
    <%= f.input :state, :as => :select, :collection => us_state_codes_collection, :prompt => 'State', :required => true %>  
  </div>

  <div id="third_party_information_inputs" style='<%= 'display:none;' unless @fund.is_third_party_fund? %>'>    
    <%= f.input :receiver_name, :placeholder => 'Receiver Name', :required => true, :input_html => { :maxlength => 30 } %>
    <%= f.input :receiver_email, :placeholder => 'Receiver Email', :required => true %>
    <%= f.input :city, :placeholder => 'City', :required => true, :input_html => { :maxlength => 30 } %>
    <%= f.input :state, :as => :select, :collection => us_state_codes_collection, :prompt => 'State', :required => true %>  
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <%= f.button :submit, "Start Fund", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', back_path, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>

<script type='text/javascript'>
  
  function refreshFormNewFund($form) {
    var trigger_value = $("select#fund_fund_type").val();
    if (trigger_value == 'person') {
      $("div#business_information_inputs").hide();
      $("div#business_information_inputs").find('input').attr("disabled",true);
      $('div#third_party_information_inputs').hide();
      $('div#third_party_information_inputs').find('input').attr("disabled",true);
      $form.resetClientSideValidations();
    } else if (trigger_value == 'business') {
      $("div#business_information_inputs").show();      
      $("div#business_information_inputs").find('input').attr("disabled",false);
      $('div#third_party_information_inputs').hide();
      $('div#third_party_information_inputs').find('input').attr("disabled",true);
      $form.resetClientSideValidations();
    } else {
      $("div#business_information_inputs").hide();      
      $("div#business_information_inputs").find('input').attr("disabled",true);
      $('div#third_party_information_inputs').show();
      $('div#third_party_information_inputs').find('input').attr("disabled",false);
    }
  }

</script>