<% title current_fund.name %>

  <ul class="nav nav-pills mb">  	
    <li <%= "class=active" if not params[:section].present? %>><a href=<%= url_for params.merge(:section => nil) %>><i class="fa fa-fw fa-eye"></i>Summary</a></li>
    <li <%= "class=active" if params[:section] == 'setup' %>><a href=<%= url_for params.merge(:section => 'setup') %>><i class="fa fa-fw fa-wrench"></i>Setup</a></li>
  </ul>

  <%= case params[:section]
  	when 'donations'
			render :partial => 'funds/manage/manage_donations'
		when 'membership'
			render :partial => 'funds/manage/manage_membership'
		when 'setup'
			render :partial => 'funds/manage/manage_setup'
		else 
			render :partial => 'funds/manage/manage_summary' 		
  end %>

<%= content_for :sidebar do %>
	
	<div class='content_box clearfix'>
		<h4>You are currently managing this fund</h4>
		<div class='mt'>
			<%= link_to "<i class='fa fa-fw fa-reply'></i> Public View".html_safe, fund_path(current_fund), :class => 'btn btn-default pull-right' %>		
		</div>
	</div>
	
<% end %>
