<% is_current_fund_owner = (user_signed_in? and current_fund.owners.include?(current_user.account)) %>

<ul data-role="listview" data-inset="true" data-theme"a">
 
  <li data-role="list-divider" data-theme='a'><%= current_fund.name %></li>
 	
  <li>
		<p><%= current_fund.description %></p>
  </li>

	<% if is_current_fund_owner %>
	  <li data-role="list-divider" data-theme='a'>Outstanding Payments</li>
	  <li><%= current_fund.payments.credit_outstanding.count %></li>
	  <li><%= current_fund.payments.credit_outstanding.sum(:amount_to_receiver) %></li>
	<% end %>
  
  <% if is_current_fund_owner %>
	  <li data-role="list-divider" data-theme='a'>Bank Account</li>  
	  <% this_bank_account = current_fund.bank_account %>
	  <% if this_bank_account.present? %>
	    <li data-icon='delete'><%= "#{this_bank_account.account_type} ending in #{this_bank_account.last_4_digits}" %> </li>         
	  <% else %>
	  	<li data-icon='plus'>
	      <a href="#new_payment_card_form" data-rel="popup" data-position-to="window">Add Bank Account</a>
	      <%#= form_for Accounts::PaymentCard.new(params[:accounts_payment_card]), :method => :post do |f| %>
	      <%#= f.hidden_field :balanced_uri %>    
	    </li>
	  <% end %>
  <% else %>
	  <li data-role="list-divider" data-theme='a'>Name on Account</li>
	  <li><%= current_fund.is_personal_fund? ? current_fund.merchant_name : current_fund.business_name %></li>
  <% end %>
   
</ul>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Delete', fund_path(@fund), :method => :delete %> |
<%= link_to 'Give', new_payment_path(:fund_uid => current_fund.uid) %> |
<%= link_to 'Give Code', give_code_fund_path(current_fund) %>