<% title current_fund.name  %>
<% is_current_fund_owner = (user_signed_in? and current_fund.owners.include?(current_user.account)) %>

<p class='lead'><%= current_fund.description %></p>

<%= render :partial => 'funds/show/marketing_products' if is_current_fund_owner %>
<%= render :partial => 'funds/show/info'  %>
<%= render :partial => 'funds/show/give_code_modal' %>

<% if current_fund.recent_payments.present? %>
	<h3>Recent Donations</h3>
	<table class='table'>
		<% current_fund.recent_payments.each do |payment| %>
			<tr>
				<td>
				<div>
					<div class='left pl'>
						<b><%= payment.is_anonymous ? 'Anonymous Donor' : payment.sender.full_name %></b><br/>
						<%= "#{payment.sender.city.capitalize}, " if payment.sender.city.present? %> <%= "#{Carmen::Country.coded(payment.sender.country).subregions.coded(payment.sender.state).name rescue payment.sender.state}" if payment.sender.state.present? %>
					</div>
				</div>
				</td>
				<td>
					<p><%= "\"#{payment.message}\"" if payment.message.present? %></p>
				</td>
				<td class='lead t-b'>
					<%= number_to_currency payment.amount_in_cents / 100 %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<%= content_for :sidebar do %>
	
	
	<% if is_current_fund_owner %>
		<div class='center_wrap content_box'>
			<h5>You are an owner of this fund</h5>
			<div >
				<%= link_to "<i class='icon-wrench'></i> Manage this fund".html_safe, manage_fund_path(current_fund), :class => 'btn' %>
			</div>
		</div>
	<% end %>

	<div class='content_box'>
		<table class='table table-borderless'>
			<tr>
				<th>Donations This Month</th>
				<td><%= current_fund.number_payments_this_month %></td>
			</tr>
			<tr>
				<th>Donated This Month</th>
				<td><%= number_to_currency current_fund.amount_payments_this_month_in_cents / 100 %></td>
			</tr>
		</table>
		<div class='center_wrap'>
			<%= link_to "<i class='icon-heart'></i> Give to this fund".html_safe, "#", :class => 'btn btn-primary', :onclick => "openGiveCodeModal();" %>
			<%#= link_to "<i class='icon-heart'></i> Give to this fund".html_safe, new_payment_path(:fund_uid => current_fund), :class => 'btn btn-primary' %>
		</div>
	</div>
	
<% end %>