<% title current_fund.name  %>
<% is_current_fund_owner = (user_signed_in? and current_fund.owners.include?(current_user)) %>
<% is_current_fund_member = (user_signed_in? and current_fund.members.include?(current_user)) %>

<%= render :partial => 'funds/show/new_fund_modal' if @show_new_fund_modal %>
<%= render :partial => 'funds/show/info' %>

<% if current_fund.recent_payments.present? %>
	<h3>Recent Donations</h3>
	<table class='table'>
		<% current_fund.recent_payments.each do |payment| %>
			<tr>
				<td>
				<div>
					<div class='left pl'>
						<b><%= display_accountholder_name(payment.sender, payment.is_anonymous) %></b><br/>
						<% if payment.sender.present? %>
							<%= "#{payment.sender.account.city.capitalize}, " if payment.sender.account.city.present? %> <%= "#{Carmen::Country.coded(payment.sender.account.country).subregions.coded(payment.sender.account.state).name rescue payment.sender.account.state}" if payment.sender.account.state.present? %>
						<% end %>
					</div>
				</div>
				</td>
				<td>
					<p><%= "\"#{payment.message}\"" if payment.message.present? %></p>
				</td>
				<td class='lead t-b'>
					<%= number_to_currency payment.amount_in_cents / 100 %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<%= render :partial => 'funds/show/marketing_products' %>

<%= content_for :sidebar do %>
	<div class='panel panel-faded panel-default'>
		<div class='panel-body center_wrap'>
		    <% if current_fund.give_code_image.present? %>
			    <%= image_tag current_fund.give_code_image.url, :style => "width:100%;", :alt => "Swiftgive | #{current_fund.name}" %>
		    <% else %>
				<h2>Ooops!</h2>
				<h4>We haven't generated the give code for this fund yet.  Please try again later.  Sorry for the inconvenience!</h4>
			<% end %>      
		</div>
		<div class="panel-footer">
			<i>Scan this give code to donate from your mobile device.</i>
		</div>
	</div>
	<div class='content_box clearfix'>
		<h4>Donations</h4>
		<table class='table'>
			<tr>
				<td>Today</td>
				<td class='t-l'><span class='right'><%= number_to_currency current_fund.amount_payments_today_in_cents / 100 %></span></td>
			</tr>
			<tr>
				<td>This Month</td>
				<td class='t-l'><span class='right'><%= number_to_currency current_fund.amount_payments_this_month_in_cents / 100 %></span></td>
			</tr>
		</table>	
	</div>
	<div class='content_box clearfix'>
		<h4>Share This Fund</h4>
		<%= render :partial => 'funds/show/social_buttons' %>	
	</div>
	<% if is_current_fund_owner %>
		<div class='content_box clearfix'>
			<h4>You are an owner of this fund</h4>
			<div class='mt'>
				<%= link_to "<i class='fa fa-fw fa-wrench'></i> Manage this fund".html_safe, manage_fund_path(current_fund), :class => 'btn btn-default pull-right' %>
			</div>
		</div>
	<% end %>


<% end %>