<% title "#{current_fund.name}" %>

<% is_current_fund_owner = (user_signed_in? and current_fund.owners.include?(current_user)) %>
<% is_current_fund_member = (user_signed_in? and current_fund.members.include?(current_user)) %>

<%= render :partial => 'funds/show/tabs' %>

<ul data-role="listview" data-inset="true">		
	<li>
		<p class='word_wrap'><%= current_fund.description %></p>
		<h3><%= display_location(current_fund) %></h3>
	</li>
</ul>

<ul data-role="listview" data-inset="true" data-theme"a">
	
	<% if current_fund.is_third_party_fund? %>
		<li data-role="list-divider">Donations Benefit</li>
		<li><p class='ma-n'><%= current_fund.receiver_name %></p> </li>
	<% end %>

  <% if current_fund.is_business_fund? %> 
  	<li data-role="list-divider" >Organization Name</li>
		<li><p class='ma-n'><%= current_fund.receiver_name %></p></li>
  <% else %>
		<li data-role="list-divider" >Fund Started By</li>
		<li><p class='ma-n'><%= current_fund.creator_name %></p></li> 
  <% end %>
 
	<li data-role="list-divider">Recent Donations</li>
	<li>
	 	<p class='ma-n'>Today</p>
	 	<span class="ui-li-count ui-body-inherit"><%= current_fund.number_payments_today %></span>
	</li>
	<li>
	 	<p class='ma-n'>This Month</p>
	 	<span class="ui-li-count ui-body-inherit"><%= current_fund.number_payments_this_month %></span>
	</li>

</ul>

<%= link_to 'Display Give Code', give_code_fund_path(current_fund), :'data-role' => 'button', :'data-icon' => 'eye' if is_current_fund_owner%>
<%= link_to 'Edit this Fund', edit_fund_path(@fund), :'data-role' => 'button', :'data-icon' => 'gear' if is_current_fund_owner %>