<!DOCTYPE html>
<html lang="en">

  <head>
    <%= render :partial => 'layouts/shared/html_head' %>
    <%= stylesheet_link_tag "standard", :media => "all" %>    
    <%= javascript_include_tag "standard" %>
  </head>

  <body>
    
    <%# ajax loading spinner %>
    <div id="loader"></div>  

    <%= render :partial => 'layouts/shared/flash', :locals => {:flash => flash} %>
      
    <div id='page' class='container'>
      
      <div id='header'>
        <%= render :partial => 'layouts/standard/header' %>            
      </div>
      
      <div id="main" class='row'>        
        
        <div id="mainbar" class='span8'>
          <%= yield %>
        </div>
        
        <div id="sidebar" class='span4'>
          <%= render :partial => 'layouts/standard/sidebar' %>
        </div>
           
      </div>

      <div id="bottomnav" class='row'>
        <%= render :partial => 'layouts/standard/bottomnav' %>
      </div>
      
      <div id="footer" class='row'>
        <%= render :partial => 'layouts/standard/footer' %>
      </div>
      
    </div>
    
  </body>

</html>
