<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= render :partial => 'layouts/shared/html_head' %>
    <%= stylesheet_link_tag "mobile", :media => "all" %>
    <%= javascript_include_tag "mobile" %>   
    <%= yield(:header) %>      
  </head>

  <body>    
    <div id="loader"></div>  <%# ajax loading spinner %>
    <div data-role="page" class='main_page' data-url='<%= current_path %>'>      
      <%= render :partial => 'layouts/mobile/header' %>
      <%= render :partial => 'layouts/mobile/nav_menu' %>      
      <%= render :partial => 'layouts/mobile/flash', :locals => {:flash => flash} %>
      <% flash = {} # clear flash %>

      <div class='content' data-role="content" style='padding-top:0px;'>
        <div class='center_wrap'><h1 class='page_title'><%= yield (:page_title) %></h1></div>
        <%= yield %>
      </div>
      <%= yield(:page) %>
    </div>
    <%= yield(:body) %>
  </body>

</html>
