<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= render :partial => 'layouts/shared/html_head' %>
    <%= stylesheet_link_tag "mobile", :media => "all" %>
    <%= javascript_include_tag "mobile" %>   
    <%= yield(:header) %>      
  </head>

  <body>    
    <div id="loader"></div>  <%# ajax loading spinner %>
    <% unless content_for?(:page_id) %>
      <% provide :page_id, current_page_id %>
    <% end %>
    <div data-role="page" class='main_page' id='<%= yield(:page_id) %>' data-url='<%= current_path %>' data-transition="slide">       
      <%= render :partial => 'layouts/mobile/flash', :locals => {:flash => flash} %>
      <div data-role="header" data-id='header' data-fullscreen='true' >
        <div class='center_wrap'>
          <div class='left ml-m'><%= link_to 'back', back_path, :'data-role' => 'button', :'data-icon' => 'arrow-l', :'data-iconpos' => 'notext', :'data-shadow' => 'false', :class => "#{'ui-disabled' if current_path == root_url}" %></div>
          <div class='center'><%= link_to content_tag(:div, '', :id => 'logo', :class => 'center'), root_path %></div>
          <div class='right mr-m'><a data-role='button' data-transition="slide" data-icon='bars' data-iconpos='notext' data-shadow='false' data-rel='popup' href='#nav_menu' data-tolerance="0,0"> menu </a> </div>
        </div>  
        <%= render :partial => 'layouts/mobile/nav_menu' %>
      </div>      
      <div class='content' data-role="content" style='padding-top:0px;'>        
        <%= yield %>
      </div>
      <%= yield(:page) %>
    </div>
    <%= yield(:body) %>
  </body>

</html>
