<!DOCTYPE html>
<html lang="en">

  <head>
    <%= render :partial => 'layouts/shared/html_head' %>
    <%= stylesheet_link_tag "standard", :media => "all" %>    
    <%= javascript_include_tag "standard" %>    
  </head>

  <body>
    
    <%# ajax loading spinner %>
    <div id="loader"></div>  

    <%= render :partial => 'layouts/shared/flash', :locals => {:flash => flash} %>
      
    <div id='header' class='container'>
      <%= render :partial => 'layouts/standard/header' %>  
    </div>

    <div id='page' class='container'>

      <% if content_for?(:page_title) %>
        <div id='title' class='row'>
          <div class='center_wrap'><h1><%= yield (:page_title) %></h1></div>
        </div>
      <% end %>

      <div id="main" class='row'>        

        <div id="mainbar" class='span12'>
          <%= yield %>
        </div>
           
      </div>
      
      <div id="footer" class='row'>
          <%= render :partial => 'layouts/standard/footer' %>
      </div>
      
    </div>
    
  </body>

</html>
