<!DOCTYPE html>
<html lang="en">

  <head>
    <%= render :partial => 'layouts/shared/html_head' %>
    <%= stylesheet_link_tag "standard", :media => "all" %>    
    <%= javascript_include_tag "standard" %>    
  </head>

  <body>
    
    <%# ajax loading spinner %>
    <div id="loader"></div>  

    <%= render :partial => 'layouts/shared/flash', :locals => {:flash => flash} %>
      
    <div id='page'>
      
      <div id='header' class='container row'>
        <%= render :partial => 'layouts/standard/header' %>
      </div>

      <div id="main" class='container row'>        
        
        <div id="mainbar" class='columns sixteen'>
          <%= yield %>
        </div>
           
      </div>

      <div id="bottomnav" class='container row'>
        <%= render :partial => 'layouts/standard/bottomnav' %>
      </div>
      
      <div id="footer" class='container'>
        <%= render :partial => 'layouts/standard/footer' %>
      </div>
      
    </div>
    
  </body>

</html>
