<div id="edit_password_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <% if current_user.is_password_set %>
      <h3 id="editPasswordModalLabel">Edit Your Password</h3>
    <% else %>
      <h3 id="editPasswordModalLabel">Set a Password</h3>
    <% end %>
  </div>
  

    
    <div class="modal-body">

      <%= simple_form_for current_user, :url => user_registration_path, :html => {:class => 'form-horizontal'}, :method => :put do |f| %>
        <%= f.input :password , :label => 'New Password', :wrapper_html => { :class => 'span6' } %>
        <%= f.input :password_confirmation, :label => 'Confirm New Password', :wrapper_html => { :class => 'span6' } %>
        <% if current_user.is_password_set %>      
          <%= f.input :current_password, :label => 'Current Password', :wrapper_html => { :class => 'span6' } %>
        <% end %>

    </div>    

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
    <% end %>  
  
</div>