<div id="edit_location_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Your Location</h3>
  </div>
  <div class="modal-body">
    <% location = Accounts::Location.new(params[:accounts_location] || current_user.account.attributes.slice('street_address', 'city', 'state', 'postal_code', 'country')) %> 

    <%= form_for location, :url => accounts_location_path, :method => :put do |f| %>

      <div class='ui-grid-solo'>
        <%= f.text_field :street_address, :placeholder => 'Street Address' %>    
      </div>

      <div class='ui-grid-solo'>
        <%= f.text_field :city, :placeholder => 'City' %>    
      </div>

      <div class='ui-grid-solo'>
        <%= f.text_field :state, :placeholder => 'State' %>    
      </div>

      <div class='ui-grid-solo'>
        <%= f.text_field :postal_code, :placeholder => 'Postal Code' %>    
      </div>

      <div class='ui-grid-solo'>
        <%= f.text_field :country, :placeholder => 'Country' %>    
      </div>    
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
  <% end %>  
</div>