<% title "Setup My Account"  %>
<%= render :partial => 'edit_name' %>
<%#= render :partial => 'edit_email' %>
<%= render :partial => 'edit_location' %>
<%= render :partial => 'edit_password' %>
<%= render :partial => 'accounts/add_social_network', :formats => [:html] %>

<h3 class='title'>My Profile</h3>
<table class="table table-striped">
  <col width='25%' />
  <col width='55%' />
  <col width='20%' />
  <tr>
    <th>Name</th>
    <td><%= current_user.account.full_name %></td>
    <td><button class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit_name_modal"><i class="fa fa-fw fa-wrench"></i>Edit</button></td>
  </tr>
<!-- 
  <%# take out avatar for now %>
  <tr>
    <th>Picture</th>
    <td><%#= image_tag current_user.account.avatar, :height => '80px', :width => '80px' %></td>
    <td><a href="#edit_avatar_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%#= render :partial => 'edit_avatar' %>
  </tr>
-->
  <tr>
    <th>Email Address</th>
    <td><%= current_user.email %></td>
    <td><!--<a href="#edit_email_modal" role="button" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-wrench"></i>Edit</a>--></td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <% if current_user.account.location.valid? %>
        <%= "#{current_user.account.city.capitalize}, " if current_user.account.city.present? %> <%= "#{Carmen::Country.coded('US').subregions.coded(current_user.account.state).name rescue current_user.account.state}" if current_user.account.state.present? %>     
      <% else %>
        <i>Please enter your location information</i>
      <% end %>
      
    </td>
    <td><a href="#edit_location_modal" role="button" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-fw fa-wrench"></i>Edit</a></td>
    
  </tr>  
</table>

<br class='spacer'/>

<h3 class='title'>My Login Methods</h3>
<table class='table table-striped'>
  <col width='25%' />
  <col width='55%' />
  <col width='20%' />
  <tr>
    <th>Social Networks</th>
    <td>
      <% current_user.authentications.each do |authentication| %>
        <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
        <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
        <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
      <% end %>
    </td>
    <td><a href="#add_social_network_modal" role="button" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-fw fa-plus"></i>Add</a></td>
  </tr>
  <tr>
    <th>Password</th>    
    <% if current_user.is_password_set %>
      <td>Your password is set</td>
    <% else %>
      <td><i>You currently have no password</i></td>
    <% end %>    
    <td><a href="#edit_password_modal" role="button" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-fw fa-wrench"></i>Edit</a></td>
  </tr>
</table>

<%= content_for :sidebar do %>
  
  <div class='content_box clearfix'>
    <h4>My Funds</h4>
    <table class='table'>
      <% current_user.funds.each do |fund| %>
        <tr>
          <td>
            <%= link_to "#{fund.name}".html_safe, fund_path(fund), :class => "btn-small"%>
          </td>
        </tr>   
      <% end %>
    </table>
    <%= link_to "<i class='fa fa-fw fa-plus'></i>Start a New Fund".html_safe, new_fund_path, :class => 'btn btn-default pull-right' %>    
  </div>

<% end %>




