<%= render :partial => 'accounts/edit_personal_info', :formats => [:mobile] %>
<%= render :partial => 'accounts/edit_location', :formats => [:mobile] %>
<%= render :partial => 'accounts/payment_cards/new', :formats => [:mobile], :locals => {:callback_function => 'balancedAddCardToProfileCallback'} %>

<ul data-role="listview" data-inset="true" data-theme"a">
  <li data-role="list-divider" data-theme='a'>My Profile</li>  
    <li data-icon='gear'>
      <a href="#account_edit_personal_info" data-rel="popup" data-position-to="window">
        <div class='ui-grid-a'>
          <div class='ui-block-a side'>
            <% if current_user.account.avatar.present? %>
              <%= image_tag current_user.account.avatar, :height => '80px', :width => '80px' %>
            <% else %>
              <div style='height:80px;width:80px'>Add Image</div>
            <% end %>
          </div>
          <div class='ui-block-b ui-block-c main'>
            <h3 class='mt-s mb-s'><%= current_user.account.first_name %></h3>
            <h3 class='mt-s'><%= current_user.account.last_name %></h3>
            <p><%= current_user.email %></p>
            <% if current_user.account.date_of_birth.present? %>
              <p><i>Birthday: <%= display_time current_user.account.date_of_birth, :format => 'long' %></i></p>
            <% else %>
              <p><i>No birthday entered</i></p>
            <% end %>
          </div>          
        </div>
      </a>
    </li>

    <li data-icon='gear'>      
        <% if current_user.account.city.present? and current_user.account.state.present? and current_user.account.postal_code.present? %>
          <a href="#account_edit_location" data-rel="popup" data-position-to="window">
            <div class='mt-m'>
              <p><b><%= current_user.account.street_address %></b></p>
              <p><%= current_user.account.city %>, <%= current_user.account.state %> <%= current_user.account.postal_code %></p>        
              <p><%= current_user.account.country %></p>
            </div>
          </a>
        <% else %>          
          <a href="#account_edit_location" data-rel="popup" data-position-to="window">Setup Location Info</a>
        <% end %>
    </li>

  </li>
  <li data-role="list-divider" data-theme='a'>Payment Cards</li>  
    <% current_user.account.payment_cards.each do |payment_card| %>
      <li data-icon='delete'><%= link_to "#{payment_card.card_type} ending in #{payment_card.last_4_digits}", accounts_payment_card_path(payment_card), :method => :delete, :confirm => 'are you sure you want to delete this card?' %> </li>         
    <% end %> 
    <li data-icon='plus'>
      <a href="#new_payment_card_form" data-rel="popup" data-position-to="window">Add a payment card</a>
      <%= form_for Accounts::PaymentCard.new(params[:accounts_payment_card]), :method => :post do |f| %>
        <%= f.hidden_field :balanced_uri %>
      <% end %>
    </li>
  </li>

  <li data-role="list-divider" data-theme='a'>Social Networks Linked</li>  
    <li>
      <div class='center_wrap'>
        <% current_user.authentications.each do |authentication| %>
          <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
          <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
          <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
        <% end %>
      </div>
    </li>
  </li>
</ul>


<script type='text/javascript'>

  function balancedAddCardToProfileCallback(response) {
    var tag = (response.status < 300) ? 'pre' : 'code';
    debug(tag, JSON.stringify(response));
    switch (response.status) {
      case 201:
        //createPaymentCard(response.data.uri); // No Longer handling this via ajax
        $.mobile.activePage.find("#new_payment_card_form").popup("close");
        $.mobile.activePage.find("input[name='accounts_payment_card[balanced_uri]']").val(response.data.uri);
        $.mobile.activePage.find('form#new_accounts_payment_card').submit();
        break;
      case 400:
      case 403: // missing/malformed data - check response.error for details
        $.mobile.activePage.find("#new_payment_card_form").popup("close");
        var error_message = '<h3>Could not validate your card</h3>';
        $.each( response.error, function( key, value ) {
          error_message += ( key + ": " + "is not valid" + "<br/>");
        });
        error_message += "<p>Please try again...</p>";
        window.setTimeout ( function() {                  
          flashNow(error_message, 'error');
        }, 1000 );
        break;               
      case 402: // we couldn't authorize the buyer's credit card - check response.error for details
        $.mobile.activePage.find("#new_payment_card_form").popup("close");
        var error_message = '<h3>Could not validate your card</h3><p>The card entered was declined</p><p>Please try another card...</p>';
        window.setTimeout ( function() {                  
          flashNow(error_message, 'error');
        }, 1000 );
        break;
      case 404: // your marketplace URI is incorrect
        break;
      default: // we did something unexpected - check response.error for details
        break;
    }
  }

var createPaymentCard = function( payment_card_uri ) {
  var path = "<%= accounts_payment_cards_path %>";
  var params = [{ name: 'format',            value: 'json' },
                { name: 'skip_mobile',       value: 'true' },
                { name: 'payment_card[uri]', value: payment_card_uri }];
  var url = path + '?' + $.param(params);  
  $.ajax({
    url: url,
    type: "POST",
    dataType: "JSON",
    beforeSend: function ( xhr ) {

    },
    error: function (xhr, ajaxOptions, thrownError) {
      flashNow('Oops! There was an error...');
    },
    success: function(data) {      
      window.setTimeout(function() {                  
        flashNow('Your card was successfully validated', 'notice');
      }, 1000 );
    }
  });
}

</script>