<h2>My Profile</h2>
<table class="table">
  <col width='25%' />
  <col width='55%' />
  <col width='20%' />
  <tr>
    <th>Name</th>
    <td><%= current_user.account.full_name %></td>
    <td><a href="#edit_name_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%= render :partial => 'edit_name' %>
  </tr>
<!-- 
  <%# take out avatar for now %>
  <tr>
    <th>Picture</th>
    <td><%#= image_tag current_user.account.avatar, :height => '80px', :width => '80px' %></td>
    <td><a href="#edit_avatar_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%#= render :partial => 'edit_avatar' %>
  </tr>
-->
  <tr>
    <th>Email Address</th>
    <td><%= current_user.email %></td>
    <td><a href="#edit_email_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%= render :partial => 'edit_email' %>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td>
      <% if current_user.account.date_of_birth.present? %>
        <%= display_time current_user.account.date_of_birth, :format => 'spelled'  %>
      <% else %>
        <i>Please enter date-of-birth</i>
      <% end %>
    </td>
    <td><a href="#edit_dob_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%= render :partial => 'edit_birthdate' %>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <% if current_user.account.location.valid? %>
        <%= current_user.account.street_address if current_user.account.street_address.present? %><br>
        <%= "#{current_user.account.city.capitalize}, " if current_user.account.city.present? %> <%= "#{Carmen::Country.coded(current_user.account.country).subregions.coded(current_user.account.state).name rescue current_user.account.state}" if current_user.account.state.present? %>
        <%= current_user.account.postal_code if current_user.account.postal_code.present?%>      
      <% else %>
        <i>Please enter your location information</i>
      <% end %>
      
    </td>
    <td><a href="#edit_location_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%= render :partial => 'edit_location' %>
  </tr>
  <tr>
    <th>Password</th>
    
      <% if current_user.is_password_set %>
        <td>Your password is set</td>
      <% else %>
        <td><i>You currently have no password</i></td>
      <% end %>
    <td><a href="#edit_password_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%= render :partial => 'edit_password' %>
  </tr>
</table>

<br class='spacer'/>

<h2>My Payment Cards</h2>
<table class='table'>
  <col width='80%' />
  <col width='20%' />
  <tr>
    <td>
      <% payment_cards = current_user.account.payment_cards %>
      <% if payment_cards.present? %>
        <% payment_cards.each do |payment_card| %>
          <div><%= payment_card.card_type %> ending in <%= payment_card.last_4_digits %> <%= link_to "<i class='icon-remove-sign'></i> Remove".html_safe, accounts_payment_card_path(payment_card), :method => :delete, :class => 'btn-small', :confirm => 'Are you sure you want to permenantly remove this card?' %></div>
        <% end %>
      <% else %>
        <i>None Linked to This Account</i>
      <% end %>
    </td>
    <td><a href="#add_payment_card_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-plus"></i> Add</a></td>
    <%= render :partial => 'accounts/payment_cards/new', :formats => [:html], :locals => {:callback_function => 'balancedAddCardToProfileCallback'} %>
  </tr>
</table>

<br class='spacer'/>

<h2>My Social Networks</h2>
<table class='table'>
  <col width='80%' />
  <col width='20%' />
  <tr>
    <td>
      <% current_user.authentications.each do |authentication| %>
        <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
        <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
        <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
      <% end %>
    </td>
    <td><a href="#add_social_network" role="button" class="btn-small" data-toggle="modal"><i class="icon-plus"></i> Add</a></td>
    <%= render :partial => 'accounts/add_social_network', :formats => [:html] %>
  </tr>
</table>



<script type='text/javascript'>
  $('#add_new_card_button').click(function(){
    $('#add_new_card_button').hide();
    $('#payment_card_form').show();    
  });
</script>




