<% title "Setup My Profile"  %>
<%= render :partial => 'edit_name' %>
<%= render :partial => 'edit_email' %>
<%= render :partial => 'edit_location' %>
<%= render :partial => 'edit_password' %>
<%= render :partial => 'accounts/add_social_network', :formats => [:html] %>

<h2>My Profile</h2>
<table class="table">
  <col width='25%' />
  <col width='55%' />
  <col width='20%' />
  <tr>
    <th>Name</th>
    <td><%= current_user.account.full_name %></td>
    <td><a href="#edit_name_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    
  </tr>
<!-- 
  <%# take out avatar for now %>
  <tr>
    <th>Picture</th>
    <td><%#= image_tag current_user.account.avatar, :height => '80px', :width => '80px' %></td>
    <td><a href="#edit_avatar_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    <%#= render :partial => 'edit_avatar' %>
  </tr>
-->
  <tr>
    <th>Email Address</th>
    <td><%= current_user.email %></td>
    <td><a href="#edit_email_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <% if current_user.account.location.valid? %>
        <%= "#{current_user.account.city.capitalize}, " if current_user.account.city.present? %> <%= "#{Carmen::Country.coded('US').subregions.coded(current_user.account.state).name rescue current_user.account.state}" if current_user.account.state.present? %>     
      <% else %>
        <i>Please enter your location information</i>
      <% end %>
      
    </td>
    <td><a href="#edit_location_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    
  </tr>
  <tr>
    <th>Password</th>
    
      <% if current_user.is_password_set %>
        <td>Your password is set</td>
      <% else %>
        <td><i>You currently have no password</i></td>
      <% end %>
    <td><a href="#edit_password_modal" role="button" class="btn-small" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></td>
    
  </tr>
</table>

<br class='spacer'/>

<h2>My Social Networks</h2>
<table class='table'>
  <col width='80%' />
  <col width='20%' />
  <tr>
    <td>
      <% current_user.authentications.each do |authentication| %>
        <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
        <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
        <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
      <% end %>
    </td>
    <td><a href="#add_social_network" role="button" class="btn-small" data-toggle="modal"><i class="icon-plus"></i> Add</a></td>
    
  </tr>
</table>



<script type='text/javascript'>
  $('#add_new_card_button').click(function(){
    $('#add_new_card_button').hide();
    $('#payment_card_form').show();    
  });
</script>

<%= content_for :sidebar do %>
  
  <div class='center_wrap content_box'>
    <h4>My Funds</h4>
    <table class='table'>
      <% current_user.funds.each do |fund| %>
        <tr>
          <td>
            <%= link_to "#{fund.name} <i class='icon-chevron-right'></i>".html_safe, fund_path(fund), :class => "btn-small"%>
        </td>
        </tr>   
      <% end %>
    </table>
    <div class='clearfix'>
      <%= link_to "<i class='icon-plus'></i> Create new fund".html_safe, new_fund_path, :class => 'btn' %>
    </div>
  </div>

<% end %>




