<%= render :partial => 'accounts/edit_personal_info', :formats => [:mobile] %>
<%= render :partial => 'accounts/edit_location', :formats => [:mobile] %>
<%= render :partial => 'accounts/edit_password', :formats => [:mobile] %>
<%= render :partial => 'accounts/add_social_network', :formats => [:mobile] %>

<% title "My Account" %>

<ul data-role="listview" data-inset="true" data-theme"a">
  <li data-role="list-divider" >My Profile</li>
  
  <li data-icon='gear'>
    <a href="#account_edit_personal_info" data-rel="popup" data-position-to="window">
      <div>
        <% if current_user.account.first_name.present? %>
          <p class='ma-n'><%= current_user.account.full_name %></p>
        <% else %>
          <p class='ma-n'>What's Your Name?</p>
        <% end %>
      </div>     
    </a>
  </li>
  <li data-icon='gear'>      
    <% if current_user.account.city.present? and current_user.account.state.present? %>
      <a href="#account_edit_location" data-rel="popup" data-position-to="window">            
        <p class='mt-n mb-n'><%= current_user.account.city %>, <%= current_user.account.state %></p>
      </a>
    <% else %>          
      <a href="#account_edit_location" data-rel="popup" data-position-to="window">
        <p class='ma-n'>Setup Location Info</p>
      </a>
    <% end %>
  </li>    
  <li><p class='ma-n'><%= current_user.email %></p></li>
</ul>

<ul data-role="listview" data-inset="true" data-theme"a">
  <li data-role="list-divider" >My Login Methods</li>    
  <li data-icon='plus'>
    <a href="#add_social_network_form" data-rel="popup" data-position-to="window" class='pt-s pb-n'>      
      <div class='ma-n pa-n'>
        <% authentications = current_user.authentications %>
        <% if !authentications.present? %>
          <% authentications.each do |authentication| %>
            <%= image_tag('facebook.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Facebook' %>
            <%= image_tag('google.png', :width => '50px', :height => '50px') if authentication.provider_name == 'Google' %>
            <%= image_tag('linkedin.png', :width => '50px', :height => '50px') if authentication.provider_name == 'LinkedIn' %>      
          <% end %>
        <% else %>
          <p class='mt-m mb-m'>Add a Social Network</p>
        <% end %>
      </div>
    </a>
  </li>
  <li data-icon='gear'>
    <a href="#account_edit_password" data-rel="popup" data-position-to="window">            
      <% if current_user.is_password_set %>
        <p class='ma-n'><i>Your password is set</i></p>
      <% else %>
        <p class='ma-n'><i>You have no password</i></p>
      <% end %>            
    </a>
  </li>
</ul>